.italic_animation
{
	-webkit-animation-name: italAnimation;
	-webkit-animation-duration:2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
	
}

@-webkit-keyframes italAnimation {
  from {
    font-variation-settings: "wght" 100, "ital" 1;
  }
  to {

    font-variation-settings: "wght" 900, "ital" 1;

  }
}

.width_animation
{
	-webkit-animation-name: widthAnimation;
	-webkit-animation-duration:1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;	
}

@-webkit-keyframes widthAnimation {
  from {
  	font-variation-settings: "wdth" 75;
  }
  to {
  	font-variation-settings: "wdth" 100;
  }
}

.weight_animation
{
	-webkit-animation-name: weightAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;  
}

@-webkit-keyframes weightAnimation {
  from {
    font-variation-settings: "wght" 100;
  }
  to {
    font-variation-settings: "wght" 900;
  }
}


.slant_animation
{
	-webkit-animation-name: slantAnimation;
	-webkit-animation-duration:1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;	
}

@-webkit-keyframes slantAnimation {
  from {
    -webkit-transform: skewX(0deg);
    -moz-transform: skewX(0deg);
    -o-transform: skewX(0deg);
    transform: skewX(0deg);
  }
  to {
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
}

.opticalsize_animation
{
  -webkit-animation-name: opticalsizeAnimation;
  -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;
  
}

@-webkit-keyframes opticalsizeAnimation {
  from {
    font-variation-settings: "wdth" 75, "wght" 100;
  }
  to {

    font-variation-settings: "wdth" 100, "wght" 200;

  }
}
