/*Design Page 4 Left */
.Design-left-page-4
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

/*Design Page 4 Right */
.Design-right-page-4
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-4:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-4:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-4:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-4:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/

.Design-left-page-4 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 497);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.Design-left-page-4 .drink-container
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 671.5);
	top: calc((var(--init-new-vw) / 1440) * 85);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
	margin: 0;
}

.drink-text
{
	font-family: Crimson Pro;
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 415);
	top: 0;
	left: 0;
	margin: 0;
	font-style: italic;
	font-variation-settings: "wght" var(--text-weight);
	font-weight: var(--text-weight);
	font-size: calc((var(--init-new-vw) / 1440) * var(--text-size-L));
	text-align: center;
	overflow:hidden;
	line-height: calc((var(--init-new-vw) / 1440) * var(--init-line-height));
	outline: none !important;
	color: red;
	border: none;
	resize: none;

}

.triangle-container
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 26.99);
	top: calc((var(--init-new-vw) / 1440) * 460);
	left: 0;
	margin-left:  calc((var(--init-new-vw) / 1440) * 14.5);
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	padding: 0;
	list-style: none;
}

.triangle-container li
{
	position: relative;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 52.4);
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.triangle-container li img
{
	width: calc((var(--init-new-vw) / 1440) * 16.17);
	height: calc((var(--init-new-vw) / 1440) * 14);
	margin: 0;
	position: relative;
	top: 0;
	visibility: hidden;
	
}

.triangle-container .triangle1
{
	visibility: visible;
}


.color-container
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 26.99);
	top: calc((var(--init-new-vw) / 1440) * 495.5);
	left: 0;
	margin-left:  calc((var(--init-new-vw) / 1440) * 10);
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	padding: 0;
	list-style: none;
}

.color-container .circle_red
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: red;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid #231F20;
	cursor: pointer;
}

.color-container .circle_yellow
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: #FFEB00;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_blue
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: #70CCF7;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_brown
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: #D7B089;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_pink
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: #FFC0EF;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_black
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: black;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}


.color-container .circle_green
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: #3EB449;
	border-radius: 40px;
	top: 0;
	margin-right: calc((var(--init-new-vw) / 1440) * 41.44);
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_white
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 26.99);
	height: calc((var(--init-new-vw) / 1440) * 26.99); 
	background-color: white;
	border-radius: 40px;
	top: 0;
	margin-right: 0;
	border: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_white:hover
{
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.drink-container .weight-text
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 263);
	height: calc((var(--init-new-vw) / 1440) * 35); 
	top: calc((var(--init-new-vw) / 1440) * 535);
	right: 0;
	margin: 0;
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	border-left: calc((var(--init-new-vw) / 1440) * 1) solid black;

	text-align: center;
	font-weight: 500;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: calc((var(--init-new-vw) / 1440) * 27)
}

.blink {
  position: absolute;
  display: block;
  background: black;
  left: calc((var(--init-new-vw) / 1440) * 400);
  top: calc((var(--init-new-vw) / 1440) * 180);
   width: calc((var(--init-new-vw) / 1440) * 5);
  height: calc((var(--init-new-vw) / 1440) * 100);
  -webkit-animation: blink 0.8s infinite;
  z-index: 800;
}

@-webkit-keyframes blink {
  0% {background: black}
  100% {background: white}

}

.drink-container .container-normal-italic
{
	position: absolute;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 263);
	height: calc((var(--init-new-vw) / 1440) * 35); 
	top: calc((var(--init-new-vw) / 1440) * 535);
	left: 0;
	margin: 0;

	display: flex;
	list-style: none;

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: calc((var(--init-new-vw) / 1440) * 33); 
	text-align: center;

}


.drink-container .roman
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 131.5);
	height: calc((var(--init-new-vw) / 1440) * 35); 
	top: 0;
	left: 0;
	margin: 0;

	border-left: calc((var(--init-new-vw) / 1440) * 1) solid black;
	border-right: calc((var(--init-new-vw) / 1440) * 1) solid black;
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;
	cursor: pointer;

}

.drink-container .italic
{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 131.5);
	height: calc((var(--init-new-vw) / 1440) * 35); 
	font-style: italic;
	top: 0;
	left: 0;
	margin: 0;
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;
	background-color: red; 
	color: white;
	cursor: pointer;
}

.drink-container .dotted
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 251.19);
	right: calc((var(--init-new-vw) / 1440) * 3.5);
	top: calc((var(--init-new-vw) / 1440) * 567);
}

.drink-container .size-text
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 262);
	height: calc((var(--init-new-vw) / 1440) * 28);
	left: 0;
	top: calc((var(--init-new-vw) / 1440) * 585);
	margin: 0;

	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: calc((var(--init-new-vw) / 1440) * 27);
}

.drink-container .dotted2
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 251.19);
	left: calc((var(--init-new-vw) / 1440) * 3.5);
	top: calc((var(--init-new-vw) / 1440) * 624);
}

.drink-container .horizontal-line
{
	position: absolute;
	height: calc((var(--init-new-vw) / 1440) * 105);
	border-left:calc((var(--init-new-vw) / 1440) * 1) solid black;
	left: calc((var(--init-new-vw) / 1440) * 263);
	top: calc((var(--init-new-vw) / 1440) * 570);

}


.drink-container .d4-size-container
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 262);
	height: calc((var(--init-new-vw) / 1440) * 36);
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: calc((var(--init-new-vw) / 1440) * 31);
	text-align: center;

	display: flex;
	list-style: none;
}

.d4-size-container li
{
	position: relative;
    top: 0;
	width: calc((var(--init-new-vw) / 1440) * 35);
	height: calc((var(--init-new-vw) / 1440) * 35);
	border-radius: 40px;
	margin-right: calc((var(--init-new-vw) / 1440) * 21.5);
	cursor: pointer;
	background-color: white;
	color: black;
}

.d4-size-container .d4l
{
	background-color: #EB0000;
	border: calc((var(--init-new-vw) / 1440) * 1) solid var(--init-border-colorL);
	color: white;
}

.d4-size-container .d4xs
{
	border: calc((var(--init-new-vw) / 1440) * 1) solid var(--init-border-color);
}
.d4-size-container .d4s
{
	border: calc((var(--init-new-vw) / 1440) * 1) solid var(--init-border-color);
}
.d4-size-container .d4m
{
	border: calc((var(--init-new-vw) / 1440) * 1) solid var(--init-border-color);
}
.d4-size-container .d4xl
{
	border: calc((var(--init-new-vw) / 1440) * 1) solid var(--init-border-color);
}




.d4-size-container .d4xl
{
	margin-right: 0;
}

.drink-container .d-weighttxt
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 79.06);
	height: calc((var(--init-new-vw) / 1440) * 46.6);
	top: calc((var(--init-new-vw) / 1440) * 623);
	right: calc((var(--init-new-vw) / 1440) * 90);
	margin: 0;

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 40);
	line-height: calc((var(--init-new-vw) / 1440) * 53);

}

.design-slider
{
	position: absolute;
	z-index: 1;
	width: calc((var(--init-new-vw) / 1440) * 247.23);
	height: calc((var(--init-new-vw) / 1440) * 5);
	top: calc((var(--init-new-vw) / 1440) * 623);
	right: calc((var(--init-new-vw) / 1440) * 3);
	margin: 0;
	border-radius: 80px;
	-webkit-appearance: none;  /* 13 */
	-ms-appearance: none; 
  	-moz-appearance: none; 
	     appearance: none;
  	background: #BBBDBF;
  	outline: none !important;

}

.design-slider::-webkit-slider-thumb 
{
	  -webkit-appearance: none;
	  transform: scale(1) !important;
	  appearance: none;
	  width: calc((var(--init-new-vw) / 1440) * 25);
	  height: calc((var(--init-new-vw) / 1440) * 25);
	  border-radius: 50px;
	  background: radial-gradient(139.98% 139.65% at 50% -15.59%, #FFFFFF 31.47%, #000000 90.53%);
	  border: calc((var(--init-new-vw) / 1440) * 1) solid #BBBDBF;
	  outline: none !important;
}

.design-slider::-ms-thumb
{
	  -ms-appearance: none;
	  appearance: none;
	  width: calc((var(--init-new-vw) / 1440) * 25);
	  height: calc((var(--init-new-vw) / 1440) * 25);
	  border-radius: 50px;
	  background: radial-gradient(139.98% 139.65% at 50% -15.59%, #FFFFFF 31.47%, #000000 90.53%);
	  border: calc((var(--init-new-vw) / 1440) * 1) solid #BBBDBF;
	  outline: none !important;
}




/* Right Page */
.Design-right-page-4 .aaa
{
	position: absolute;
	margin: 0;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 500);
	top: calc((var(--init-new-vw) / 1440) * 60);
	right: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
	
}

.Design-right-page-4 h1
{
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 26);
	right: calc((var(--init-new-vw) / 1440) * 72);
	text-align: right;
	text-transform: lowercase;

}
.Design-right-page-4 h2
{
	position: absolute;
	margin: 0;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 22.43);
	top: calc((var(--init-new-vw) / 1440) * 597);
	right: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));

	font-style: italic;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 24);;
	line-height: calc((var(--init-new-vw) / 1440) * 1.2);
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;

}


.Design-right-page-4 h3
{
	position: absolute;
	margin: 0;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 117);
	top: calc((var(--init-new-vw) / 1440) * 627);
	right: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: 130%;

	/*var(--init-margin-right)*/
}

@media screen and (max-width: 1000px){
.Design-left-page-4
{
	display: none;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 8 + 80px);
}

.Design-right-page-4
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 9 + 90px);
}

.Design-right-page-4:before
{
	display: none;
}

}

<div class="Design-left-page-4" id="pg">
              <div class="gradient-line-l"></div>
              <h1>9</h1>
              <div class="drink-container">
                <textarea class="drink-text" id="drink-text">Drink&#10;me</textarea>
                <div class="blink"></div>
                <ul class="color-container">
                  <li class="circle_red" id="circle_red" onclick="color_red()" ></li>
                  <li class="circle_yellow" id="circle_yellow" onclick="color_yellow()"></li>
                  <li class="circle_blue" id="circle_blue" onclick="color_blue()"></li>
                  <li class="circle_brown" id="circle_brown" onclick="color_brown()"></li>
                  <li class="circle_pink" id="circle_pink" onclick="color_pink()"></li>
                  <li class="circle_black" id="circle_black" onclick="color_black()"></li>
                  <li class="circle_green" id="circle_green" onclick="color_green()"></li>
                  <li class="circle_white" id="circle_white" onclick="color_white()"></li>
                </ul>
                <div class="weight-text" id="weight-text">Weight Axis</div>
                <input type="range" min="200" max="900" value="900" class="design-slider" id="design-slider">
                <ul class="container-normal-italic">
                  <li class="roman" id="roman" onclick="d4click_roman()"/>Roman</li>
                  <li class="italic" id="italic" onclick="d4click_italic()">Italic</li>
                </ul>
                <div class="size-text" id="size-text">Size</div>
                <img src="images/dotted.svg" alt="dotted" class="dotted">
                <img src="images/dotted.svg" alt="dotted2" class="dotted2">
                <div class="horizontal-line"></div>

                <ul class="triangle-container" id="triangle-containerz">
                  <li>
                    <img src="images/triangle.svg" alt="triangle1" class="triangle1" id="triangle1">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle2" class="triangle2" id="triangle2">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle3" class="triangle3" id="triangle3">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle4" class="triangle4" id="triangle4">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle5" class="triangle5" id="triangle5">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle6" class="triangle6" id="triangle6">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle7" class="triangle7" id="triangle7">
                  </li>
                  <li>
                    <img src="images/triangle.svg" alt="triangle8" class="triangle8" id="triangle8">
                  </li>
                </ul>

                <h2 class="d-weighttxt" id="d-weighttxt">900</h2>
                <ul class="d4-size-container" id="d4-size-containers">
                  <li class="d4xs" id="d4_xs" onclick="d4xs()" >XS</li>
                  <li class="d4s" id="d4_s" onclick="d4s()">S</li>
                  <li class="d4m" id="d4_m" onclick="d4m()">M</li>
                  <li class="d4l" id="d4_l" onclick="d4l()">L</li>
                  <li class="d4xl" id="d4_xl" onclick="d4xl()">XL</li> 
                </ul>
              </div>

          </div>

            <div class="Design-right-page-4" id="pg">
              <div class="gradient-line-r"></div>
              <h1>design</h1>
              <img src="images/aaa.svg" alt="aaa" class="aaa" id="aaa">
              
              <h2 id="weight-unlimited">Weight</h2>
             
              <h3 id="with-unlimited">With unlimited options along this axis, designers can<br>tweak Crimson Pro to get the exact look and feel they<br>want. They can create custom styles, name them, and<br>save those instances to use throughout the design. 
              </h3>
              <div class="container">
                <div class="hamburger_btn">
                  <div class="one"></div>
                  <div class="two"></div>
                  <div class="three"></div>
                </div>

                <div class="menu">
                  <nav>
                    <li><a href="#">Intro</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Example</a></li>
                    <li><a href="#">Recognition</a></li>
                  </nav>
                </div>
              </div>
            </div>


