/* Design page 1 Left */
.Design-left-page-1
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: #FFBFF1;;
	position: absolute;
	left: 5.972vw;
	top: calc(57.85vw * 0.04922);
}


/* Design page 1 Right*/
.Design-right-page-1
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background: radial-gradient(113.79% 107.74% at 1.8% 51.22%, #000000 0%, #000000 85.19%, #FFBFF1 100%);
	position: absolute;
	right: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

.Design-right-page-1:before {
	content: '';
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

.Design-right-page-1 h1
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 45);
	height: calc((100vw / var(--init-width)) * 22);
	top: calc((100vw / var(--init-width)) * 314.77);
	left: calc((100vw / var(--init-width)) * 294.74);
	font-family: Crimson Pro;
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 20);
	line-height: calc((100vw / var(--init-width)) * 22);
	letter-spacing: calc((100vw / var(--init-width)) * -0.294);
	margin: 0;
	color: #FFBFF1;
}

.Design-right-page-1 h2
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 147);
	height: calc((100vw / var(--init-width)) * 53);
	top: calc((100vw / var(--init-width)) * 342.66);
	left: calc((100vw / var(--init-width)) * 242.24);
	margin: 0;
	font-style: normal;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 48);
	line-height: calc((100vw / var(--init-width)) * 53);
	border-top: calc((100vw / var(--init-width)) * 1.5) solid #FFBFF1;
	color: #FFBFF1;
}

/* Mobile */
@media screen and (max-width: 480px){

.Design-right-page-1
{
	position: absolute;
	display: block;
	width: 100vw;
	left:0;
	right:0;
	top: calc((100vw / var(--init-width)) * 792 * 3 + 30px);
}

.Design-right-page-1:before
{

	display: none;

}

}



