/*Design Page 4 Left */
.Design-left-page-4
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: white;
	position: absolute;
	left: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

/*Design Page 4 Right */
.Design-right-page-4
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: white;
	position: absolute;
	right: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

.Design-right-page-4:before {
	content: '';
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;  
}

.Design-left-page-4 h1
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 497);
	height: calc((100vw / var(--init-width)) * 25);
	top: calc((100vw / var(--init-width)) * 26);
	left: calc((100vw / var(--init-width)) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.Design-left-page-4 .drink-container
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 671.5);
	top: calc((100vw / var(--init-width)) * 85);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));
	margin: 0;
}

.drink-text
{
	font-family: Crimson Pro;
	position: absolute;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 415);
	top: 0;
	left: 0;
	margin: 0;
	font-style: italic;
	font-variation-settings: "wght" var(--text-weight);
	font-weight: var(--text-weight);
	font-size: calc((100vw / var(--init-width)) * var(--text-size-L));
	text-align: center;
	overflow:hidden;
	line-height: calc((100vw / var(--init-width)) * var(--init-line-height));
	outline: none !important;
	color: red;
	border: none;
	resize: none;

}

.triangle-container
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 26.99);
	top: calc((100vw / var(--init-width)) * 460);
	left: 0;
	margin-left:  calc((100vw / var(--init-width)) * 14.5);
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	padding: 0;
	list-style: none;
}

.triangle-container li
{
	position: relative;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 52.4);
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}

.triangle-container li img
{
	width: calc((100vw / var(--init-width)) * 16.17);
	height: calc((100vw / var(--init-width)) * 14);
	margin: 0;
	position: relative;
	top: 0;
	visibility: hidden;
	
}

.triangle-container .triangle1
{
	visibility: visible;
}




.color-container
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 26.99);
	top: calc((100vw / var(--init-width)) * 495.5);
	left: 0;
	margin-left:  calc((100vw / var(--init-width)) * 10);
	margin-top: 0;
	margin-bottom: 0;
	display: flex;
	padding: 0;
	list-style: none;
}

.color-container .circle_red
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: red;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid #231F20;
	cursor: pointer;
}

.color-container .circle_yellow
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: #FFEB00;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_blue
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: #70CCF7;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_brown
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: #D7B089;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_pink
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: #FFC0EF;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_black
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: black;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}


.color-container .circle_green
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: #3EB449;
	border-radius: 40px;
	top: 0;
	margin-right: calc((100vw / var(--init-width)) * 41.44);
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_white
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 26.99);
	height: calc((100vw / var(--init-width)) * 26.99); 
	background-color: white;
	border-radius: 40px;
	top: 0;
	margin-right: 0;
	border: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;
}

.color-container .circle_white:hover
{
	
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



.drink-container .weight-text
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 263);
	height: calc((100vw / var(--init-width)) * 35); 
	top: calc((100vw / var(--init-width)) * 535);
	right: 0;
	margin: 0;
	border-top: calc((100vw / var(--init-width)) * 1) solid black;
	border-left: calc((100vw / var(--init-width)) * 1) solid black;

	text-align: center;
	font-weight: 500;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: calc((100vw / var(--init-width)) * 27)
}

.drink-container .container-normal-italic
{
	position: absolute;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 263);
	height: calc((100vw / var(--init-width)) * 35); 
	top: calc((100vw / var(--init-width)) * 535);
	left: 0;
	margin: 0;

	display: flex;
	list-style: none;

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: calc((100vw / var(--init-width)) * 33); 
	text-align: center;

}


.drink-container .roman
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 131.5);
	height: calc((100vw / var(--init-width)) * 35); 
	top: 0;
	left: 0;
	margin: 0;

	border-left: calc((100vw / var(--init-width)) * 1) solid black;
	border-right: calc((100vw / var(--init-width)) * 1) solid black;
	border-top: calc((100vw / var(--init-width)) * 1) solid black;
	border-bottom: calc((100vw / var(--init-width)) * 1) solid black;
	cursor: pointer;

}

.drink-container .italic
{
	position: relative;
	width: calc((100vw / var(--init-width)) * 131.5);
	height: calc((100vw / var(--init-width)) * 35); 
	font-style: italic;
	top: 0;
	left: 0;
	margin: 0;
	border-top: calc((100vw / var(--init-width)) * 1) solid black;
	border-bottom: calc((100vw / var(--init-width)) * 1) solid black;
	background-color: red; 
	color: white;
	cursor: pointer;
}

.drink-container .dotted
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 251.19);
	right: calc((100vw / var(--init-width)) * 3.5);
	top: calc((100vw / var(--init-width)) * 567);
}

.drink-container .size-text
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 262);
	height: calc((100vw / var(--init-width)) * 28);
	left: 0;
	top: calc((100vw / var(--init-width)) * 585);
	margin: 0;

	text-align: center;
	font-style: normal;
	font-weight: 500;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: calc((100vw / var(--init-width)) * 27);
}

.drink-container .dotted2
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 251.19);
	left: calc((100vw / var(--init-width)) * 3.5);
	top: calc((100vw / var(--init-width)) * 624);
}

.drink-container .horizontal-line
{
	position: absolute;
	height: calc((100vw / var(--init-width)) * 105);
	border-left:calc((100vw / var(--init-width)) * 1) solid black;
	left: calc((100vw / var(--init-width)) * 263);
	top: calc((100vw / var(--init-width)) * 570);

}


.drink-container .d4-size-container
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 262);
	height: calc((100vw / var(--init-width)) * 36);
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 0;

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: calc((100vw / var(--init-width)) * 31);
	text-align: center;

	display: flex;
	list-style: none;
}

.d4-size-container li
{
	position: relative;
    top: 0;
	width: calc((100vw / var(--init-width)) * 35);
	height: calc((100vw / var(--init-width)) * 35);
	border-radius: 40px;
	margin-right: calc((100vw / var(--init-width)) * 21.5);
	cursor: pointer;
	background-color: white;
	color: black;
}

.d4-size-container .d4l
{
	background-color: #EB0000;
	border: calc((100vw / var(--init-width)) * 1) solid var(--init-border-colorL);
	color: white;
}

.d4-size-container .d4xs
{
	border: calc((100vw / var(--init-width)) * 1) solid var(--init-border-color);
}
.d4-size-container .d4s
{
	border: calc((100vw / var(--init-width)) * 1) solid var(--init-border-color);
}
.d4-size-container .d4m
{
	border: calc((100vw / var(--init-width)) * 1) solid var(--init-border-color);
}
.d4-size-container .d4xl
{
	border: calc((100vw / var(--init-width)) * 1) solid var(--init-border-color);
}




.d4-size-container .d4xl
{
	margin-right: 0;
}

.drink-container .d-weighttxt
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 79.06);
	height: calc((100vw / var(--init-width)) * 46.6);
	top: calc((100vw / var(--init-width)) * 623);
	right: calc((100vw / var(--init-width)) * 90);
	margin: 0;

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 40);
	line-height: calc((100vw / var(--init-width)) * 53);

}

.design-slider
{
	position: absolute;
	z-index: 1;
	width: calc((100vw / var(--init-width)) * 247.23);
	height: calc((100vw / var(--init-width)) * 5);
	top: calc((100vw / var(--init-width)) * 623);
	right: calc((100vw / var(--init-width)) * 3);
	margin: 0;
	border-radius: 80px;
	-webkit-appearance: none;  /* 13 */
	-ms-appearance: none; 
  	appearance: none;
  	background: #BBBDBF;
  	outline: none !important;

}

.design-slider::-webkit-slider-thumb 
{
	  -webkit-appearance: none;
	  appearance: none;
	  width: calc((100vw / var(--init-width)) * 25);
	  height: calc((100vw / var(--init-width)) * 25);
	  border-radius: 50px;
	  background: radial-gradient(139.98% 139.65% at 50% -15.59%, #FFFFFF 31.47%, #000000 90.53%);
	  border: calc((100vw / var(--init-width)) * 1) solid #BBBDBF;
	  outline: none !important;
}

.design-slider::-ms-track
{
	  -ms-appearance: none;
	  appearance: none;
	  width: calc((100vw / var(--init-width)) * 25);
	  height: calc((100vw / var(--init-width)) * 25);
	  border-radius: 50px;
	  background: radial-gradient(139.98% 139.65% at 50% -15.59%, #FFFFFF 31.47%, #000000 90.53%);
	  border: calc((100vw / var(--init-width)) * 1) solid #BBBDBF;
	  outline: none !important;
}




/* Right Page */
.Design-right-page-4 .aaa
{
	position: absolute;
	margin: 0;
	width: calc((100vw / var(--init-width)) * 520.52);
	height: calc((100vw / var(--init-width)) * 421.79);
	top: calc((100vw / var(--init-width)) * 80);
	right: calc((100vw / var(--init-width)) * var(--init-margin-left));
	z-index: 10;

}

.Design-right-page-4 h1
{
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 26);
	right: calc((100vw / var(--init-width)) * 72);
	text-align: right;
	text-transform: lowercase;

}
.Design-right-page-4 h2
{
	position: absolute;
	margin: 0;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 22.43);
	top: calc((100vw / var(--init-width)) * 597);
	right: calc((100vw / var(--init-width)) * var(--init-margin-left));

	font-style: italic;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 24);;
	line-height: calc((100vw / var(--init-width)) * 1.2);
	border-bottom: calc((100vw / var(--init-width)) * 1) solid black;

}


.Design-right-page-4 h3
{
	position: absolute;
	margin: 0;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 117);
	top: calc((100vw / var(--init-width)) * 627);
	right: calc((100vw / var(--init-width)) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: 130%;

	/*var(--init-margin-right)*/
}

@media screen and (max-width: 480px){
.Design-left-page-4
{
	display: block;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((100vw / var(--init-width)) * 792 * 8 + 80px);
}

.Design-right-page-4
{
	position: absolute;
	display: block;
	width: 100vw;
	left:0;
	right:0;
	top: calc((100vw / var(--init-width)) * 792 * 9 + 90px);
}

.Design-right-page-4:before
{
	display: none;
}

}




