.Design-left-page-6
{
	display: none;
	width: 44.028vw;
	height: calc(57.85vw * 0.95078);
	background-color: white;
	position: absolute;
	left: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

.Design-right-page-6
{
	display: none;
	width: 44.028vw;
	height: calc(57.85vw * 0.95078);
	background-color: white;
	position: absolute;
	right: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

.Design-right-page-6:before {
	content: '';
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}

/*Left*/
.Design-left-page-6 h1
{
	position: absolute;
	width: calc((100vw / 1440) * 497);
	height: calc((100vw / 1440) * 25);
	top: calc((100vw / 1440) * 26);
	left: calc((100vw / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / 1440) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.Design-left-page-6 .d6-regular
{
	position: absolute;
	margin: 0;
	width: calc((100vw / 1440) * 68);
	height: calc((100vw / 1440) * 27);
	top: calc((100vw / 1440) * 25);
	left: calc((100vw / 1440) * 406);

	border: calc((100vw / 1440) * 1) solid #262626;
	border-radius: calc((100vw / 1440) * 48);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / 1440) * 16);
	line-height: calc((100vw / 1440) * 23);
	text-align: center;
	color: white;
	background: black;

	cursor: pointer;
}

.Design-left-page-6 .d6-italic
{
	position: absolute;
	margin: 0;
	width: calc((100vw / 1440) * 68);
	height: calc((100vw / 1440) * 27);
	top: calc((100vw / 1440) * 25);
	left: calc((100vw / 1440) * 540);

	border: calc((100vw / 1440) * 1) solid #262626;
	border-radius: calc((100vw / 1440) * 48);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / 1440) * 16);
	line-height: calc((100vw / 1440) * 23);
	text-align: center;

	cursor: pointer;
}

.Design-left-page-6 .lowercase-container
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 662);
	top: calc((100vw / 1440) * 68);
	left: calc((100vw / 1440) * 72);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / 1440) * 92);
}

.lowercase-container .abcd01
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 4);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
}


.abcd01 li
{
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: calc((100vw / 1440) * 25);

}


.abcd01 li:nth-of-type(4)
{
	margin-right: calc((100vw / 1440) * 142);
}

.lowercase-container .efgh23
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 80);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
}


.efgh23 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.efgh23 li:nth-of-type(1)
{
	margin-right: calc((100vw / 1440) * 24);
}

.efgh23 li:nth-of-type(2)
{
	margin-right: calc((100vw / 1440) * 46);
}

.efgh23 li:nth-of-type(3)
{
	margin-right: calc((100vw / 1440) * 23);
}



.efgh23 li:nth-of-type(4)
{
	margin-right: calc((100vw / 1440) * 142);
}
.efgh23 li:nth-of-type(5)
{
	margin-right: calc((100vw / 1440) * 23);
}


.lowercase-container .ijk45
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 154);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
}


.ijk45 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.ijk45 li:nth-of-type(1)
{
	margin-right: calc((100vw / 1440) * 41);
}

.ijk45 li:nth-of-type(2)
{
	margin-right: calc((100vw / 1440) * 117);
}

.ijk45 li:nth-of-type(3)
{
	margin-right: calc((100vw / 1440) * 147);
}

.ijk45 li:nth-of-type(4)
{
	margin-right: calc((100vw / 1440) * 20);
}

.lowercase-container .lmn67
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 228);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
	
}


.lmn67 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.lmn67 li:nth-of-type(1)
{
	margin-right: calc((100vw / 1440) * 85);
}

.lmn67 li:nth-of-type(2)
{
	margin-right: calc((100vw / 1440) * 22);
}

.lmn67 li:nth-of-type(3)
{
	margin-right: calc((100vw / 1440) * 140);
}

.lmn67 li:nth-of-type(4)
{
	margin-right: calc((100vw / 1440) * 20);
}


.lowercase-container .opqr89
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 302);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
	
}


.opqr89 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.opqr89 li:nth-of-type(1)
{
	margin-right: calc((100vw / 1440) * 19);
}

.opqr89 li:nth-of-type(2)
{
	margin-right: calc((100vw / 1440) * 23);
}

.opqr89 li:nth-of-type(3)
{
	margin-right: calc((100vw / 1440) * 22);
}

.opqr89 li:nth-of-type(4)
{
	margin-right: calc((100vw / 1440) * 155);
}

.opqr89 li:nth-of-type(5)
{
	margin-right: calc((100vw / 1440) * 17);
}



.lowercase-container .st
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 376);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
	
}


.st li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.st li:nth-of-type(1)
{
	margin-left: calc((100vw / 1440) * 146);
	margin-right: calc((100vw / 1440) * 23);
}



.lowercase-container .uvw
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 450);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
	
}


.uvw li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.uvw li:nth-of-type(1)
{
	margin-right: calc((100vw / 1440) * 20);
}
.uvw li:nth-of-type(2)
{
	margin-right: calc((100vw / 1440) * 11);
}


.lowercase-container .xyz
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 508.68);
	height: calc((100vw / 1440) * 76);
	top: calc((100vw / 1440) * 524);
	left: 0;
	line-height: calc((100vw / 1440) * 88);

	display: flex;
	list-style: none;
	
}


.xyz li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.xyz li:nth-of-type(1)
{
	margin-left: calc((100vw / 1440) * 66);
	margin-right: calc((100vw / 1440) * 29);
}
.xyz li:nth-of-type(2)
{
	margin-right: calc((100vw / 1440) * 20);
}





/*Right */
.Design-right-page-6 h1
{
	width: calc((100vw / 1440) * 526);
	height: calc((100vw / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / 1440) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((100vw / 1440) * 26);
	right: calc((100vw / 1440) * 72);
	text-align: right;
	text-transform: lowercase;
}

.Design-right-page-6 .text-nocake
{
	font-family: Crimson Pro;
	width: calc((100vw / 1440) * 526);
	height: calc((100vw / 1440) * 327);
	position: absolute;
	margin: 0;
	top: calc((100vw / 1440) * 163);
	right: calc((100vw / 1440) * 72);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / 1440) * 72);
	line-height: calc((100vw / 1440) * 79);
	text-align: center;
	background: transparent;

	color: #FFFF00;
	text-shadow : -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px #262626;
	outline: none !important;
	border: none;
	resize: none;
	white-space: nowrap;
	overflow: hidden;
}


.Design-right-page-6 .nocake
{
	width: calc((100vw / 1440) * 526.1);
	height: calc((100vw / 1440) * 168.22);
	position: absolute;
	margin: 0;
	top: calc((100vw / 1440) * 542);
	right: calc((100vw / 1440) * 71.9);

}

