/*Left Page*/
.Design-left-page-3
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: white;
	position: absolute;
	left: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

/*Right Page*/
.Design-right-page-3
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: white;
	position: absolute;
	right: 5.972vw;
	top: calc(57.85vw * 0.04922);
}

.Design-right-page-3:before {
	  content: '';
	  border-left: 1px solid black;
	  height: 100%;
	  position: absolute;
	  top: 0;
	  left: 0;
  
}

/* Left */

.Design-left-page-3 h1
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 497);
	height: calc((100vw / var(--init-width)) * 25);
	top: calc((100vw / var(--init-width)) * 26);
	left: calc((100vw / var(--init-width)) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.word_inside h2
{
	position: absolute;
	margin: 0;
	color: white;
	left: calc((100vw / var(--init-width)) * 153);
	top: calc((100vw / var(--init-width)) * 123);
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 48);
}
.water
{
	position: absolute;	
	width: calc((100vw / var(--init-width)) * 404);
	height: calc((100vw / var(--init-width)) * 567);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 53);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));
}

.water .alpha-P
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 404);
	height: calc((100vw / var(--init-width)) * 567);
	margin: 0;
	
}

.water .box
{
	content: '';
	position: absolute;	
	width: calc((100vw / var(--init-width)) * 240);
	height: calc((100vw / var(--init-width)) * 310);
	border: 1px solid white;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 20);
	left: calc((100vw / var(--init-width)) * 110);
	border-bottom-right-radius: calc((100vw / var(--init-width)) * 100);
	border-top-right-radius: calc((100vw / var(--init-width)) * 60);

	background-image: url(wave.png);
	background-repeat: repeat-x;
	background-size: calc((100vw / var(--init-width)) * 500) calc((100vw / var(--init-width)) * 310);
	background-position: left 0px top calc((100vw / var(--init-width)) * 210);
	animation: wave 12s linear infinite;
}

/*animation for wave*/
@keyframes wave
{
	0%
	{
		background-position: left 0px top calc((100vw / var(--init-width)) * 280);

	}
	
	50%
	{

		background-position: left calc((100vw / var(--init-width)) * 2760) top 0px;	
	}

}


.Design-left-page-3 .design-bt-line
{
	position: absolute;
	margin: 0;
	border-top: calc((100vw / var(--init-width)) * 1) solid black;
	width: calc((100vw / var(--init-width)) * 526);
	top: calc((100vw / var(--init-width)) * 675);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));
}

.Design-left-page-3 h3
{
	position: absolute;
	margin: 0;
	height: calc((100vw / var(--init-width)) * 52);
	width: calc((100vw / var(--init-width)) * 526);
	top: calc((100vw / var(--init-width)) * 693);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: 130%;
}


/*Right*/

.Design-right-page-3 h1
{
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 26);
	right: calc((100vw / var(--init-width)) * 72);
	text-align: right;
	text-transform: lowercase;

}

.Design-right-page-3 .top-letter
{
	width: calc((100vw / var(--init-width)) * 471.98);
	height: calc((100vw / var(--init-width)) * 704);
	position: absolute;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 13);
	right: calc((100vw / var(--init-width)) * 56);
}

.Design-right-page-3 .weights
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 78);
	height: calc((100vw / var(--init-width)) * 727);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 24);
	right: calc((100vw / var(--init-width)) * 520);
}

/*.Design-right-page-3 .bottom-letters
{
	position: absolute;
	width: calc((100vw / 1440) * 457);
	height: calc((100vw / 1440) * 15.32);
	margin: 0;
	top: calc((100vw / 1440) * 715);
	right: calc((100vw / 1440) * 72);
}*/

.Design-right-page-3 .mboot
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 456);
	height: calc((100vw / var(--init-width)) * 28);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 726);
	right: calc((100vw / var(--init-width)) * 65);
}

.Design-right-page-3 .mouse
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 90.2);
	height: calc((100vw / var(--init-width)) * 54.21);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 545);
	right: calc((100vw / var(--init-width)) * 371);
}

.Design-right-page-3 .mushroom
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 180);
	height: calc((100vw / var(--init-width)) * 170);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 58);
	right: calc((100vw / var(--init-width)) * 115);
}

.Design-right-page-3 .dodo
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 51);
	height: calc((100vw / var(--init-width)) * 54.21);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 712);
	right: calc((100vw / var(--init-width)) * 419);
}

.Design-right-page-3 .cake1
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 70);
	height: calc((100vw / var(--init-width)) * 34);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 626);
	right: calc((100vw / var(--init-width)) * 131);
}

.Design-right-page-3 .bottom-letters
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 420);
	height: calc((100vw / var(--init-width)) * 79);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 699);
	right: calc((100vw / var(--init-width)) * 71);
}

@media screen and (max-width: 480px){
.Design-left-page-3
{
	display: block;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((100vw / var(--init-width)) * 792 * 6 + 60px);
}

.Design-right-page-3
{
	position: absolute;
	display: block;
	width: 100vw;
	left:0;
	right:0;
	top: calc((100vw / var(--init-width)) * 792 * 7 + 70px);
}

.Design-right-page-3:before
{
	display: none;
}

}










