/* INTRO page 2 RIGHT */


.Intro-right-page-2
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: white;
	position: absolute;
	right: 5.972vw;
	top: calc(57.85vw * 0.04922);
}


/* INTRO page 2 LEFT */
.Intro-left-page-2
{
	display: none;
	width: 44.028vw;
	height: calc((100vw / var(--init-width)) * 792);
	background-color: white;
	position: absolute;
	left: 5.972vw;
	top: calc(57.85vw * 0.04922);
	margin: 0;
}

/* RIGHT */
.Intro-right-page-2:before {
	 content: '';
	 border-left: 1px solid black;
	 height: 100%;
	 position: absolute;
	 top: 0;
	 left: 0;
}

.Intro-right-page-2 h1
{
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 26);
	right: calc((100vw / var(--init-width)) * 72);
	text-align: right;
	text-transform: lowercase;
}

.contain-0Y5
{

	width: calc((100vw / var(--init-width)) * 506.46);
	height: calc((100vw / var(--init-width)) * 270);
	position: absolute;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 59);
	right: calc((100vw / var(--init-width)) * var(--init-margin-right));
	
}
.OY5
{
	display: inline-flex;
}

.OY5 li
{
	position: relative;
	list-style: none;
	font-style: normal;
	width: calc((100vw / var(--init-width)) * 144);
	height: calc((100vw / var(--init-width)) * 255);

	margin-right: calc((100vw / var(--init-width)) * 35);
	
	text-align: center;
	text-decoration: none;
}

.FV 
{
	margin-right: 0;
}

.O h4
{
	position: absolute;
	top: calc((100vw / var(--init-width)) * var(--astr-margin-top));
	right: calc((100vw / var(--init-width)) * var(--astr-margin-right));
	margin: 0;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 380);
	font-weight: var(--text-weight);
	font-variation-settings: "wght" var(--text-weight);
	/*-webkit-transform:scale(0.82,1);*/

}

.Y h4
{
	position: absolute;
	top: calc((100vw / var(--init-width)) * -126);
	right: calc((100vw / var(--init-width)) * -20);
	margin: 0;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 295);
	font-weight: var(--text-weight);
	font-variation-settings: "wght" var(--text-weight);

}

.FV h4
{
	position: absolute;
	top: calc((100vw / var(--init-width)) * -90);
	right: calc((100vw / var(--init-width)) * 5);
	margin: 0;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 310);
	width: calc((100vw / var(--init-width)) * 144);
	height: calc((100vw / var(--init-width)) * 170);
	font-weight: var(--text-weight);
	font-variation-settings: "wght" var(--text-weight);

}




.txt-bot
{
	position: absolute;
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 16);
	top: calc((100vw / var(--init-width)) * 228);
	margin: 0;
}



.slider-2
{
	position: absolute;
	z-index: 1;
	width: calc((100vw / var(--init-width)) * 133.92);
	height: calc((100vw / var(--init-width)) * 5);
	top: calc((100vw / var(--init-width)) * 220);
	left: 0;
	margin: 0;
	border-radius: 80px;
	-webkit-appearance: none;  /* 13 */
	-ms-appearance: none;
  	appearance: none;
  	background: #BBBDBF;
  	outline: none !important;

}

.slider-2::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none;
	  width: calc((100vw / var(--init-width)) * 15);
	  height: calc((100vw / var(--init-width)) * 15);
	  border-radius: 100px;
	  background: radial-gradient(139.98% 139.65% at 50% -15.59%, #FFFFFF 31.47%, #000000 90.53%);
	  border: calc((100vw / var(--init-width)) * 1) solid #BBBDBF;
	  outline: none !important;
}

.slider-2::-ms-track {
	  -ms-appearance: none;
	  appearance: none;
	  width: calc((100vw / var(--init-width)) * 15);
	  height: calc((100vw / var(--init-width)) * 15);
	  border-radius: 100px;
	  background: radial-gradient(139.98% 139.65% at 50% -15.59%, #FFFFFF 31.47%, #000000 90.53%);
	  border: calc((100vw / var(--init-width)) * 1) solid #BBBDBF;
	  outline: none !important;
}



.contain-ter
{
	width: calc((100vw / var(--init-width)) * 506.46);
	height: calc((100vw / var(--init-width)) * 270);
	position: absolute;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 319);
	right: calc((100vw / var(--init-width)) * var(--init-margin-right));	
}

.ter
{
	display: inline-flex;
}

.ter li
{
	position: relative;
	list-style: none;
	font-style: normal;
	width: calc((100vw / var(--init-width)) * 144);
	height: calc((100vw / var(--init-width)) * 255);
	margin-right: calc((100vw / var(--init-width)) * 35);
	
	text-align: center;
	text-decoration: none;
}

.r 
{
	margin-right: 0;
}

.t h4
{
	position: absolute;
	top: calc((100vw / var(--init-width)) * -90);
	right: calc((100vw / var(--init-width)) * 13);
	margin: 0;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 310);
	font-weight: var(--text-weight);
	font-variation-settings: "wght" var(--text-weight);

}

.e h4
{
	position: absolute;
	top: calc((100vw / var(--init-width)) * -90);
	right: calc((100vw / var(--init-width)) * -4);
	margin: 0;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 310);
	font-weight: var(--text-weight);
	font-variation-settings: "wght" var(--text-weight);

}

.r h4
{
	position: absolute;
	top: calc((100vw / var(--init-width)) * -90);
	right: calc((100vw / var(--init-width)) * -3);
	margin: 0;
	font-weight: 900;
	font-size: calc((100vw / var(--init-width)) * 310);
	width: calc((100vw / var(--init-width)) * 144);
	height: calc((100vw / var(--init-width)) * 170);
	font-weight: var(--text-weight);
	font-variation-settings: "wght" var(--text-weight);

}

.Intro-right-page-2 h2
{
	width: calc((100vw / var(--init-width)) * 521.29);
	height: calc((100vw / var(--init-width)) * 35);
	top: calc((100vw / var(--init-width)) * 583);
	right: calc((100vw / var(--init-width)) * var(--init-margin-right));
	position: absolute;
	font-style: italic;
	font-weight: 300;
	margin: 0;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: 120%;
	border-bottom: calc((100vw / var(--init-width)) * 0.5) solid black;
}

.lst
{
	width: calc((100vw / var(--init-width)) * 521);
	height: calc((100vw / var(--init-width)) * 113);
	top: calc((100vw / var(--init-width)) * 631);
	right: calc((100vw / var(--init-width)) * var(--init-margin-right));
	position: absolute;
	font-style: normal;
	font-weight: normal;
	margin: 0;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: 130%;
}



/* LEFT */
.Intro-left-page-2 h2
{
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 16);
	top: calc(57.85vw * 0.95078 * 0.032828);
	left: calc(44.028vw * 0.11356);
	text-transform: lowercase;
	margin: 0;
}

.Intro-left-page-2 h3
{
	position: absolute;
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 48);
	top: calc((100vw / var(--init-width)) * 55);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));
	margin: 0;
}

.Intro-left-page-2 h3 span
{
	font-style: italic;
	font-weight: 250;
}

.main-circle
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 318.12);
	height: calc((100vw / var(--init-width)) * 318.12);
	top: calc((100vw / var(--init-width)) * 144);
	left: calc((100vw / var(--init-width)) * 167);
	margin: 0;
}
.main-circle .main-circle
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 318.12);
	height: calc((100vw / var(--init-width)) * 318.12);
	margin-top: 0;
	margin-bottom: 0;
	margin: 0;
	top:0;
	left:0;
}
.main-circle h4
{
	position: absolute;
	font-family: Roboto VF;
	width: calc((100vw / var(--init-width)) * 234);
	height: calc((100vw / var(--init-width)) * 246);
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 210);
	line-height: calc((100vw / var(--init-width)) * 246);
	margin: 0;
	top: calc((100vw / var(--init-width)) * 26);
	left: calc((100vw / var(--init-width)) * 45);

}
.Intro-left-page-2 h5
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 300);
	height: calc((100vw / var(--init-width)) * 28)
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 12);
	
	top: calc((100vw / var(--init-width)) * 439.89);
	left: calc((100vw / var(--init-width)) * 72);
	margin: 0;
}

.effect
{

	width: calc((100vw / var(--init-width)) * 525.5);
	height: calc((100vw / var(--init-width)) * 42.32);
	margin: 0 auto;
	position: absolute;
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));
	top: calc((100vw / var(--init-width)) * 506);
	display: flex;

}
.effect li
{
	list-style: none;
	font-style: normal;
	font-weight: normal;
	margin-right: calc((100vw / var(--init-width)) * 12.52);
	font-size: calc((100vw / var(--init-width)) * 20);
	letter-spacing: calc((100vw / var(--init-width)) * (-0.5));
	text-align: center;
}
.effect li a
{
	text-decoration: none;
	
}
.effect .wght
{

	background: white;
	margin: 0 auto;
	color: black;
	padding-left: calc((100vw / var(--init-width)) * 27);
	padding-right: calc((100vw / var(--init-width)) * 27);
	padding-top: calc((100vw / var(--init-width)) * 8.3);
	padding-bottom: calc((100vw / var(--init-width)) * 8.3);
	border: 0.829653px solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 39.8233);
	margin-right: 0; 
	
}
.effect .wdth
{
	background: white;
	text-decoration: none;
	margin: 0 auto;
	color: black;
	padding-left: calc((100vw / var(--init-width)) * 27);
	padding-right: calc((100vw / var(--init-width)) * 27);
	padding-top: calc((100vw / var(--init-width)) * 8.3);
	padding-bottom: calc((100vw / var(--init-width)) * 8.3);
	border: 0.829653px solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 39.8233);
	
}
.effect .slnt
{
	background: white;
	text-decoration: none;
	margin: 0 auto;
	color: black;
	padding-left: calc((100vw / var(--init-width)) * 33);
	padding-right: calc((100vw / var(--init-width)) * 33);
	padding-top: calc((100vw / var(--init-width)) * 8.3);
	padding-bottom: calc((100vw / var(--init-width)) * 8.3);
	border: 0.829653px solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 39.8233);
	
}
.effect .ital
{
	background: white;
	text-decoration: none;
	margin: 0 auto;
	color: black;
	padding-left: calc((100vw / var(--init-width)) * 33);
	padding-right: calc((100vw / var(--init-width)) * 33);
	padding-top: calc((100vw / var(--init-width)) * 8.3);
	padding-bottom: calc((100vw / var(--init-width)) * 8.3);
	border: 0.829653px solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 39.8233);
	
}
.effect .opsz
{
	background: white;
	text-decoration: none;
	margin: 0 auto;
	color: black;
	padding-left: calc((100vw / var(--init-width)) * 28);
	padding-right: calc((100vw / var(--init-width)) * 28);
	padding-top: calc((100vw / var(--init-width)) * 8.3);
	padding-bottom: calc((100vw / var(--init-width)) * 8.3);
	border: 0.829653px solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 39.8233);
	margin-right: 0; 
	
}

.Intro-left-page-2 h6
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 35.12);
	top: calc((100vw / var(--init-width)) * 583);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));

	font-style: italic;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: 120%;
	margin: 0;
	border-bottom: calc((100vw / var(--init-width)) * 1) solid black;
}

.Intro-left-page-2 h1
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 135);
	top: calc((100vw / var(--init-width)) * 619);
	left: calc((100vw / var(--init-width)) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 24);
	line-height: 1.3;
	margin-bottom: 0;
}

/* Mobile */
@media screen and (max-width: 480px){

.Intro-left-page-2
{
	display: block;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((100vw / var(--init-width)) * 792 + 10px);
}

.Intro-right-page-2
{
	position: absolute;
	display: block;
	width: 100vw;
	right: 0;
	top: calc((100vw / var(--init-width)) * 792 * 2 + 20px);
}

}
