/* Roboto Flex Animations */
/* Intro page 2 */
.italic_animation
{
	-webkit-animation-name: italAnimation;
	-webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
	
}

@-webkit-keyframes italAnimation {
  from {
    font-style: "normal";
  }
  to {

    font-style:  "italic";

  }
}

.width_animation
{
	-webkit-animation-name: widthAnimation;
	-webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;	
}

@-webkit-keyframes widthAnimation {
  from {
  	font-variation-settings: "wdth" 50;
  }
  to {
  	font-variation-settings: "wdth" 125;
  }
}

.weight_animation
{
	-webkit-animation-name: weightAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;  
}

@-webkit-keyframes weightAnimation {
  from {
    font-variation-settings: "wght" 100;
  }
  to {
    font-variation-settings: "wght" 700;
  }
}


.slant_animation
{
	-webkit-animation-name: slantAnimation;
	-webkit-animation-duration:2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-fill-mode: forwards;	
}

@-webkit-keyframes slantAnimation {
  from {
    font-variation-settings: "slnt" 0;
  }
  to {

    font-variation-settings: "slnt" -10;

  }
}

.opticalsize_animation
{
  -webkit-animation-name: opticalsizeAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  
}

@-webkit-keyframes opticalsizeAnimation {
  from {
    font-variation-settings: "opsz" 100;
  }
  to {

    font-variation-settings: "opsz" 8;

  }
}
