/* Roboto Flex Animations */
/* Intro page 2 */

@keyframes textsize_Animation {
  from {
    font-size: 1em;
  }
  to {
    font-size: 1.1em;
  }
}

.italic_animation
{
  -webkit-animation-name: italAnimation;
  -webkit-animation-duration:1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  
}

@-webkit-keyframes italAnimation {
  from {
    font-variation-settings: "GRAD" -1;
  }
  to {

    font-variation-settings: "GRAD" 1;

  }
}

.width_animation
{
  -webkit-animation-name: widthAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;  
}

@-webkit-keyframes widthAnimation {
  from {
    font-variation-settings: "wdth" 50;
  }
  to {
    font-variation-settings: "wdth" 125;
  }
}

.weight_animation
{
  -webkit-animation-name: weightAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;  
}

@-webkit-keyframes weightAnimation {
  from {
    font-variation-settings: "wght" 100;
  }
  to {
    font-variation-settings: "wght" 700;
  }
}


.slant_animation
{
  -webkit-animation-name: slantAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;  
}

@-webkit-keyframes slantAnimation {
  from {
    font-variation-settings: "slnt" 0;
  }
  to {

    font-variation-settings: "slnt" -10;

  }
}

.opticalsize_animation
{
  -webkit-animation-name: opticalsizeAnimation;
  -webkit-animation-duration:2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  
}

@-webkit-keyframes opticalsizeAnimation {
  from {
    font-variation-settings: "opsz" 100;
  }
  to {

    font-variation-settings: "opsz" 8;

  }
}


@-webkit-keyframes rotatingAnimationY {
  0%{
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.paused{
    -webkit-animation-play-state:paused; 
    animation-play-state:paused;
}
