/*Left Page*/
.Design-left-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

/*Right Page*/
.Design-right-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-3:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-3:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-3:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-3:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/


/* Left */

.Design-left-page-3 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 497);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.word_inside h2
{
	position: absolute;
	margin: 0;
	color: white;
	left: calc((var(--init-new-vw) / 1440) * 153);
	top: calc((var(--init-new-vw) / 1440) * 123);
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 48);
}
.water
{
	position: absolute;	
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 53);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
}

.water .alpha-P
{
	position: absolute;
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
	
}

.water .alpha-A
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 700);
	height: calc((var(--init-new-vw) / 1440) * 600);
	border: 1px solid blue;
	margin: 0;
	
}

.water .box
{
	content: '';
	position: absolute;	
	width: calc((var(--init-new-vw) / 1440) * 240);
	height: calc((var(--init-new-vw) / 1440) * 310);
	border: 1px solid white;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 110);
	border-bottom-right-radius: calc((var(--init-new-vw) / 1440) * 100);
	border-top-right-radius: calc((var(--init-new-vw) / 1440) * 60);

	background-image: url(../images/wave.png);
	background-repeat: repeat-x;
	background-size: calc((var(--init-new-vw) / 1440) * 500) calc((var(--init-new-vw) / 1440) * 310);
	background-position: left 0px top calc((var(--init-new-vw) / 1440) * 210);
	-webkit-animation: wave 12s linear infinite;
	        animation: wave 12s linear infinite;
}

/*animation for wave*/
@-webkit-keyframes wave
{
	0%
	{
		background-position: left 0px top calc((var(--init-new-vw) / 1440) * 280);

	}
	
	50%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 2760) top 0px;	
	}

}
@keyframes wave
{
	0%
	{
		background-position: left 0px top calc((var(--init-new-vw) / 1440) * 280);

	}
	
	50%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 2760) top 0px;	
	}

}


.Design-left-page-3 .design-bt-line
{
	position: absolute;
	margin: 0;
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	width: calc((var(--init-new-vw) / 1440) * 526);
	top: calc((var(--init-new-vw) / 1440) * 675);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
}

.Design-left-page-3 h3
{
	position: absolute;
	margin: 0;
	height: calc((var(--init-new-vw) / 1440) * 52);
	width: calc((var(--init-new-vw) / 1440) * 526);
	top: calc((var(--init-new-vw) / 1440) * 693);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: 130%;
}


/*Right*/

.Design-right-page-3 h1
{
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 26);
	right: calc((var(--init-new-vw) / 1440) * 72);
	text-align: right;
	text-transform: lowercase;

}

/*.Design-right-page-3 .top-letter
{
	width: calc((var(--init-new-vw) / 1440) * 471.98);
	height: calc((var(--init-new-vw) / 1440) * 704);
	position: absolute;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 13);
	right: calc((var(--init-new-vw) / 1440) * 56);
}

.Design-right-page-3 .weights
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 78);
	height: calc((var(--init-new-vw) / 1440) * 727);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 24);
	right: calc((var(--init-new-vw) / 1440) * 520);
}


.Design-right-page-3 .mboot
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 456);
	height: calc((var(--init-new-vw) / 1440) * 28);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 726);
	right: calc((var(--init-new-vw) / 1440) * 65);
}

.Design-right-page-3 .mouse
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90.2);
	height: calc((var(--init-new-vw) / 1440) * 54.21);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 545);
	right: calc((var(--init-new-vw) / 1440) * 371);
}

.Design-right-page-3 .mushroom
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 180);
	height: calc((var(--init-new-vw) / 1440) * 170);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 58);
	right: calc((var(--init-new-vw) / 1440) * 115);
}

.Design-right-page-3 .dodo
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 51);
	height: calc((var(--init-new-vw) / 1440) * 54.21);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 712);
	right: calc((var(--init-new-vw) / 1440) * 419);
}

.Design-right-page-3 .cake1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 34);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 626);
	right: calc((var(--init-new-vw) / 1440) * 131);
}

.Design-right-page-3 .bottom-letters
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 420);
	height: calc((var(--init-new-vw) / 1440) * 79);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 699);
	right: calc((var(--init-new-vw) / 1440) * 71);
}*/

@media screen and (max-width: 1000px){
.Design-left-page-3
{
	display: none;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 6 + 60px);
}

.Design-right-page-3
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 7 + 70px);
}

.Design-right-page-3:before
{
	display: none;
}

}










