.Design-left-page-5
{
	display: block;
	width: 44.028vw;
	height: calc(57.85vw * 0.95078);
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

.Design-right-page-5
{
	display: block;
	width: 44.028vw;
	height: calc(57.85vw * 0.95078);
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

.Design-right-page-5:before {
	content: '';
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.Design-left-page-5 h1
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 497);
	height: calc((100vw / var(--init-width)) * 25);
	top: calc((100vw / var(--init-width)) * 26);
	left: calc((100vw / var(--init-width)) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}


.Design-left-page-5 .d5-regular
{
	position: absolute;
	margin: 0;
	width: calc((100vw / var(--init-width)) * 68);
	height: calc((100vw / var(--init-width)) * 27);
	top: calc((100vw / var(--init-width)) * 25);
	left: calc((100vw / var(--init-width)) * 406);

	border: calc((100vw / var(--init-width)) * 1) solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 48);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: calc((100vw / var(--init-width)) * 23);
	text-align: center;
	color: white;
	background: black;

	cursor: pointer;
}

.Design-left-page-5 .d5-italic
{
	position: absolute;
	margin: 0;
	width: calc((100vw / var(--init-width)) * 68);
	height: calc((100vw / var(--init-width)) * 27);
	top: calc((100vw / var(--init-width)) * 25);
	left: calc((100vw / var(--init-width)) * 540);

	border: calc((100vw / var(--init-width)) * 1) solid #262626;
	border-radius: calc((100vw / var(--init-width)) * 48);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: calc((100vw / var(--init-width)) * 23);
	text-align: center;

	cursor: pointer;
}
.Alphabet-Container
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 715);
	top: calc((100vw / var(--init-width)) * 72);
	left: calc((100vw / var(--init-width)) * 71.65);



	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 113);
	line-height: calc((100vw / var(--init-width)) * 69);


}
.Alphabet-Container .ABCD
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 77);

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.Alphabet-Container .ABCD li
{
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: calc((100vw / var(--init-width)) * 68);

}

.Design-left-page-5 .ABCD li:nth-of-type(4)
{
	margin-right: 0;
}


.Alphabet-Container .EFGH
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 84);
	left: 0;

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.EFGH li
{
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: calc((100vw / var(--init-width)) * 70);

}

.EFGH li:nth-of-type(4)
{
	margin-right: 0;
}

.EFGH li:nth-of-type(2)
{
	margin-right: calc((100vw / var(--init-width)) * 75);
}
.EFGH li:nth-of-type(3)
{
	margin-right: calc((100vw / var(--init-width)) * 63);
}

.Alphabet-Container .IJK
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 168);
	left: 0;

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;
}


.IJK li
{
	position: relative;
	margin: 0;
	padding: 0;

}

.IJK li:nth-of-type(1)
{
	margin-left: calc((100vw / var(--init-width)) * 133);
	margin-right: calc((100vw / var(--init-width)) * 133);
}

.IJK li:nth-of-type(2)
{
	margin-right: calc((100vw / var(--init-width)) * 63);
}


.Alphabet-Container .LMN
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 252);
	left: 0;

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.LMN li
{
	position: relative;
	margin: 0;
	padding: 0;

}

.LMN li:nth-of-type(1)
{
	margin-left: calc((100vw / var(--init-width)) * 133);
	margin-right: calc((100vw / var(--init-width)) * 71);
}

.LMN li:nth-of-type(2)
{
	margin-right: calc((100vw / var(--init-width)) * 43);
}

.Alphabet-Container .OP
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 336);
	left: 0;

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.OP li
{
	position: relative;
	margin: 0;
	padding: 0;

}

.OP li:nth-of-type(1)
{
	margin-left: calc((100vw / var(--init-width)) * -6);
	margin-right: calc((100vw / var(--init-width)) * 61);
}


.Alphabet-Container .QRST
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 420);
	left: 0;

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.QRST li
{
	position: relative;
	margin: 0;
	padding: 0;

}

.QRST li:nth-of-type(1)
{
	margin-left: calc((100vw / var(--init-width)) * -6);
	margin-right: calc((100vw / var(--init-width)) * 61);
}

.QRST li:nth-of-type(2)
{
	margin-right: calc((100vw / var(--init-width)) * 66);
}

.QRST li:nth-of-type(3)
{
	margin-right: calc((100vw / var(--init-width)) * 88);
}

.Alphabet-Container .UVW
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 504);
	left: 0;


	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.UVW li
{
	position: relative;
	margin: 0;
	padding: 0;

}

.UVW li:nth-of-type(1)
{
	margin-left: calc((100vw / var(--init-width)) * 131);
	margin-right: calc((100vw / var(--init-width)) * 50);
}
.UVW li:nth-of-type(2)
{
	margin-right: calc((100vw / var(--init-width)) * 99);
}

.Alphabet-Container .XYZ
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / var(--init-width)) * 505);
	height: calc((100vw / var(--init-width)) * 120);
	top: calc((100vw / var(--init-width)) * 588);
	left: 0;

	line-height: calc((100vw / var(--init-width)) * 69);
	display: flex;
	list-style: none;

}


.XYZ li
{
	position: relative;
	margin: 0;
	padding: 0;

}

.XYZ li:nth-of-type(1)
{
	margin-left: calc((100vw / var(--init-width)) * -2);
	margin-right: calc((100vw / var(--init-width)) * 74);
}

.XYZ li:nth-of-type(2)
{
	margin-right: calc((100vw / var(--init-width)) * 62);
}



/*Right */
.Design-right-page-5 h1
{
	width: calc((100vw / var(--init-width)) * 526);
	height: calc((100vw / var(--init-width)) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((100vw / var(--init-width)) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 26);
	right: calc((100vw / var(--init-width)) * 72);
	text-align: right;
	text-transform: lowercase;
}


.Design-right-page-5 .cake
{
	width: calc((100vw / var(--init-width)) * 510.84);
	height: calc((100vw / var(--init-width)) * 320);
	position: absolute;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 82);
	right: calc((100vw / var(--init-width)) * 84);
	text-align: right;
}

.Design-right-page-5 .eat-me
{
	font-family: Crimson Pro;
	width: calc((100vw / var(--init-width)) * 413);
	height: calc((100vw / var(--init-width)) * 84);
	position: absolute;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 151);
	right: calc((100vw / var(--init-width)) * 133);

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 60);
	line-height: calc((100vw / var(--init-width)) * 67);
	text-align: center;
	background: transparent;

	color: #FFFF00;
	text-shadow : -1.5px 0 black, 0 1.5px black, 1.5px 0 black, 0 -1.5px #262626;
	outline: none !important;
	border: none;
	border-radius: 80px;
	resize: none;
	white-space: nowrap;
	overflow: hidden;
}

.Design-right-page-5 .special-character-container
{
	font-family: Crimson Pro;
	width: calc((100vw / var(--init-width)) * 557.31);
	height: calc((100vw / var(--init-width)) * 314);
	position: absolute;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 463);
	right: calc((100vw / var(--init-width)) * 46.69);

	font-style: normal;
	font-weight: normal;

}

.Design-right-page-5 .Hash
{
	width: calc((100vw / var(--init-width)) * 535);
	height: calc((100vw / var(--init-width)) * 131);
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc((100vw / var(--init-width)) * 28);
	right: 0;

	font-size: calc((100vw / var(--init-width)) * 110);
	line-height: calc((100vw / var(--init-width)) * 68);
	display: flex;
	list-style: none;
}

.Hash li
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 48);

}

.Design-right-page-5 .addmult
{
	width: calc((100vw / var(--init-width)) * 535);
	height: calc((100vw / var(--init-width)) * 131);
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc((100vw / var(--init-width)) * 100);
	right: 0;

	font-size: calc((100vw / var(--init-width)) * 113);
	line-height: calc((100vw / var(--init-width)) * 68);
	display: flex;
	list-style: none;
}

.addmult li
{
	position: relative;
	padding: 0;
	margin: 0;

}

.addmult li:nth-of-type(1)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-left: calc((100vw / var(--init-width)) * -3);
	margin-right: calc((100vw / var(--init-width)) * 55);
}

.addmult li:nth-of-type(2)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 55);
}
.addmult li:nth-of-type(3)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 50);
}

.addmult li:nth-of-type(4)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 55);
}

.addmult li:nth-of-type(5)
{
	position: relative;
	padding: 0;
	margin: 0;
	top: calc((100vw / var(--init-width)) * 25);
	margin-right: 0;
}


.Design-right-page-5 .question
{
	width: calc((100vw / var(--init-width)) * 535);
	height: calc((100vw / var(--init-width)) * 131);
	position: absolute;
	margin: 0;
	padding: 0;
	top: calc((100vw / var(--init-width)) * 195);
	right: 0;

	font-size: calc((100vw / var(--init-width)) * 113);
	line-height: calc((100vw / var(--init-width)) * 68);
	display: flex;
	list-style: none;
}

.question li
{
	position: relative;
	padding: 0;
	margin: 0;

}

.question li:nth-of-type(1)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 60);
}

.question li:nth-of-type(2)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 55);
}
.question li:nth-of-type(3)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 68);
}

.question li:nth-of-type(4)
{
	position: relative;
	padding: 0;
	margin: 0;
	margin-right: calc((100vw / var(--init-width)) * 46);
}

.question li:nth-of-type(5)
{
	position: relative;
	padding: 0;
	margin: 0;

	margin-right: 0;
}

@media screen and (max-width: 480px){
.Design-left-page-5
{
	display: block;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((100vw / var(--init-width)) * 792 * 10 + 100px);
}

.Design-right-page-5
{
	position: absolute;
	display: block;
	width: 100vw;
	left:0;
	right:0;
	top: calc((100vw / var(--init-width)) * 792 * 11 + 110px);
}

.Design-right-page-5:before
{
	display: none;
}

}

