/*Left Page*/
.Design-left-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

/*Right Page*/
.Design-right-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-3:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-3:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-3:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-3:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/


/* Left */

.Design-left-page-3 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 497);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.word_inside .P-counter
{
	position: absolute;
	margin: 0;
	color: white;
	left: calc((var(--init-new-vw) / 1440) * var(--init-counter-left));
	top: calc((var(--init-new-vw) / 1440) * var(--init-counter-top));
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * var(--init-counter-font));
}


.A-counter{

	--init-counter-left: 203;
	--init-counter-top: 220;
	--init-counter-font: 35;	
}

.D-counter{

	--init-counter-left: 198;
	--init-counter-top: 350;
	--init-counter-font: 48;	
}

.f-counter{

	--init-counter-left: 140;
	--init-counter-top: 270;
	--init-counter-font: 44;	
}

.Ob-counter{

	--init-counter-left: 160;
	--init-counter-top: 350;
	--init-counter-font: 55;	
}

.sh-counter{

	--init-counter-left: 172;
	--init-counter-top: 210;
	--init-counter-font: 33;
}

.nn-counter
{
	--init-counter-left: 110;
	--init-counter-top: 140;
	--init-counter-font: 48;
}



.water
{
	position: absolute;	
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 53);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
}

.water .alpha-P
{
	position: absolute;
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
}

.alpha-A
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 540);
	height: calc((var(--init-new-vw) / 1440) * 700);
	margin: 0;	
}


.alpha-D
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 530);
	height: calc((var(--init-new-vw) / 1440) * 680);	
	margin: 0;	
}

.alpha-f
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 430);
	height: calc((var(--init-new-vw) / 1440) * 660);
	margin: 0;	
}

.alpha-Ob
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 530);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;	
}

.alpha-sh
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 450);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
}

.alpha-nn
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 430);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
}

.water .box
{
	content: '';
	position: absolute;	
	width: calc((var(--init-new-vw) / 1440) * var(--init-water-width));
	height: calc((var(--init-new-vw) / 1440) * var(--init-water-height));
	border: 1px solid white;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * var(--init-water-top));
	left: calc((var(--init-new-vw) / 1440) * var(--init-water-left));

	border-bottom-right-radius: calc((var(--init-new-vw) / 1440) * var(--init-bbr));
	border-top-right-radius: calc((var(--init-new-vw) / 1440) * var(--init-btr));
	border-bottom-left-radius: calc((var(--init-new-vw) / 1440) * var(--init-bbl));
	border-top-left-radius: calc((var(--init-new-vw) / 1440) * var(--init-btl));

	background-image: url(../images/wave.png);
	background-repeat: repeat-x;
	background-size: calc((var(--init-new-vw) / 1440) * 500) calc((var(--init-new-vw) / 1440) * 310);
	background-position: left 0px top calc((var(--init-new-vw) / 1440) * 210);
	-webkit-animation: wave 12s linear infinite;
	        animation: wave 12s linear infinite;
}


.A-box{
	--init-water-width: 200;
	--init-water-height: 310;
	--init-water-top: 70; 
	--init-water-left: 160;
	--init-bbr: 10;
	--init-bbl: 10;
	--init-btr: 300;
	--init-btl: 300;
}

.D-box{
	--init-water-width: 400;
	--init-water-height: 310;
	--init-water-top: 245; 
	--init-water-left: 80;
	--init-bbr: 300;
	--init-bbl: 0;
	--init-btr: 0;
	--init-btl: 0;
}

.f-box{
	--init-water-width: 250;
	--init-water-height: 310;
	--init-water-top: 108; 
	--init-water-left: 75;
	--init-bbr: 0;
	--init-bbl: 0;
	--init-btr: 0;
	--init-btl: 220;
}

.Ob-box{
	--init-water-width: 380;
	--init-water-height: 310;
	--init-water-top: 250; 
	--init-water-left: 68;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
}

.sh-box{
	--init-water-width: 170;
	--init-water-height: 240;
	--init-water-top: 110; 
	--init-water-left: 130;
	--init-bbr: 0;
	--init-bbl: 0;
	--init-btr: 0;
	--init-btl: 0;
}

.nn-box{
	--init-water-width: 270;
	--init-water-height: 300;
	--init-water-top: 30; 
	--init-water-left: 50;
	--init-bbr: 100;
	--init-bbl: 100;
	--init-btr: 100;
	--init-btl: 100;
}





.patch{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 100);
	height: calc((var(--init-new-vw) / 1440) * 100);
	border-radius: 50%;
	background: white;
	display: none;
}

.pos-pr{
	top: calc((var(--init-new-vw) / 1440) * 85);
	left: calc((var(--init-new-vw) / 1440) * 115);

}

.pos-pl{
	top: calc((var(--init-new-vw) / 1440) * 85);
	left: calc((var(--init-new-vw) / 1440) * 300);
}


/*animation for wave*/
@-webkit-keyframes wave
{
	0%
	{
		background-position: left 0px top calc((var(--init-new-vw) / 1440) * 280);

	}
	
	50%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 2760) top 0px;	
	}

	
	100%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 5400) top calc((var(--init-new-vw) / 1440) * 280);
	}

}
/*@keyframes wave
{
	0%
	{
		background-position: left 0px top calc((var(--init-new-vw) / 1440) * 280);

	}
	
	50%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 2760) top 0px;	
	}

}*/


.Design-left-page-3 .design-bt-line
{
	position: absolute;
	margin: 0;
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	width: calc((var(--init-new-vw) / 1440) * 526);
	top: calc((var(--init-new-vw) / 1440) * 675);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
}

.Design-left-page-3 h3
{
	position: absolute;
	margin: 0;
	height: calc((var(--init-new-vw) / 1440) * 52);
	width: calc((var(--init-new-vw) / 1440) * 526);
	top: calc((var(--init-new-vw) / 1440) * 693);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: 130%;
}


/*Right*/

.Design-right-page-3 h1
{
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 26);
	right: calc((var(--init-new-vw) / 1440) * 72);
	text-align: right;
	text-transform: lowercase;

}

.g-line{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 465);
	height: calc((var(--init-new-vw) / 1440) * 10);
	top: calc((var(--init-new-vw) / 1440) * 404);
	left: calc((var(--init-new-vw) / 1440) * 102);
	background: #3DB349;
}

.r-line{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 465);
	height: calc((var(--init-new-vw) / 1440) * 10);
	top: calc((var(--init-new-vw) / 1440) * 620);
	left: calc((var(--init-new-vw) / 1440) * 102);
	background: #EB0000;
}

.l-letter{
	position: absolute;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	left: calc((var(--init-new-vw) / 1440) * 35.5);

}

.A-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 150);
	height: calc((var(--init-new-vw) / 1440) * 160);
	cursor: pointer;
	left: calc((var(--init-new-vw) / 1440) * 150);
	line-height: 51%;
	font-weight: 800;
	font-size: calc((var(--init-new-vw) / 1440) * 260);
	z-index: 100;
}

.mushroom-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 300);
	height: calc((var(--init-new-vw) / 1440) * 310);
	left: calc((var(--init-new-vw) / 1440) * 270);
	top: calc((var(--init-new-vw) / 1440) * -10);

}

.A-letter:hover{
	color: green;
}



.B-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 140);
	height: calc((var(--init-new-vw) / 1440) * 135);
	left: calc((var(--init-new-vw) / 1440) * 113);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 220);
}

.O-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 140);
	height: calc((var(--init-new-vw) / 1440) * 135);
	left: calc((var(--init-new-vw) / 1440) * 257);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 220);
}

.D-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 140);
	height: calc((var(--init-new-vw) / 1440) * 135);
	cursor: pointer;
	left: calc((var(--init-new-vw) / 1440) * 416);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 220);
	z-index: 100;
}

.D-letter:hover{
	color: green;
}




.C-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 109);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
}

.N-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 231);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
}

.f-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	cursor: pointer;
	left: calc((var(--init-new-vw) / 1440) * 360);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
	z-index: 100;
}

.f-letter:hover{
	color: green;
}


.Om-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 471);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
}







.R-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 60%;
	font-size: calc((var(--init-new-vw) / 1440) * 96);
}
.mouse-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 147);
	height: calc((var(--init-new-vw) / 1440) * 157);
	left: calc((var(--init-new-vw) / 1440) * 160);
	top:calc((var(--init-new-vw) / 1440) * 498);

}
.Ob-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 302);
	font-weight: 700;
	line-height: 90%;
	cursor: pointer;
	font-size: calc((var(--init-new-vw) / 1440) * 76);
}

.Ob-letter:hover{
	color: green;
}

.per-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 403);
	font-weight: 700;
	line-height: 60%;
	font-size: calc((var(--init-new-vw) / 1440) * 96);
}
.Z-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 517);
	font-weight: 700;
	line-height: 60%;
	font-size: calc((var(--init-new-vw) / 1440) * 96);
}




.P-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 64%;
	cursor: pointer;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.P-letter:hover{
	color: green;
}


.K-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 181);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.e-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 269);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.cn-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 356);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.cake-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 50);
	height: calc((var(--init-new-vw) / 1440) * 50);
	left: calc((var(--init-new-vw) / 1440) * 444);
	top:calc((var(--init-new-vw) / 1440) * 635);
}

.Q-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 532);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}



.sv-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.sh-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 176);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
	cursor: pointer;
}
.sh-letter:hover{
	color: green;
}



.qu-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 252);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}


.sx-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 328);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.ac-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 404);
	font-weight: 700;
	line-height: 110%;
	font-size: calc((var(--init-new-vw) / 1440) * 28);
}

.Obs-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 480);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.S-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 556);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}






.M-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.boot-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 35);
	height: calc((var(--init-new-vw) / 1440) * 35);
	left: calc((var(--init-new-vw) / 1440) * 162);
	top:calc((var(--init-new-vw) / 1440) * 740)

}

.Bx-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 30);
	height: calc((var(--init-new-vw) / 1440) * 30);
	left: calc((var(--init-new-vw) / 1440) * 230);
	font-weight: 700;
	line-height: 100%;
}

.U-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 295);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.E-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 361);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.nn-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 426);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
	cursor: pointer;
}

.nn-letter:hover{
	color: green;
}


.F-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 491);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.at-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 556);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}









.A-tx{
	pointer-events:none;
}
.D-tx{
	pointer-events:none;
}
.O-tx{
	pointer-events:none;
}
.f-tx{
	pointer-events: none;
}
.P-tx{
	pointer-events: none;
}
.sh-tx{
	pointer-events: none;
}
.nn-tx{
	pointer-events: none;
}


.s-top{
	top:calc((var(--init-new-vw) / 1440) * 26);
}
.s-midt{
	top:calc((var(--init-new-vw) / 1440) * 76.23);
}
.s-midm{
	top:calc((var(--init-new-vw) / 1440) * 252.67);
}
.s-midb{
	top:calc((var(--init-new-vw) / 1440) * 429.9);
}
.s-bot{
	top:calc((var(--init-new-vw) / 1440) * 541.67);
}
.s-bott{
	top:calc((var(--init-new-vw) / 1440) * 637.17);
}
.s-botm{
	top:calc((var(--init-new-vw) / 1440) * 697.3);
}
.s-botb{
	top:calc((var(--init-new-vw) / 1440) * 745.19);
}
/*.Design-right-page-3 .top-letter
{
	width: calc((var(--init-new-vw) / 1440) * 471.98);
	height: calc((var(--init-new-vw) / 1440) * 704);
	position: absolute;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 13);
	right: calc((var(--init-new-vw) / 1440) * 56);
}

.Design-right-page-3 .weights
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 78);
	height: calc((var(--init-new-vw) / 1440) * 727);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 24);
	right: calc((var(--init-new-vw) / 1440) * 520);
}


.Design-right-page-3 .mboot
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 456);
	height: calc((var(--init-new-vw) / 1440) * 28);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 726);
	right: calc((var(--init-new-vw) / 1440) * 65);
}

.Design-right-page-3 .mouse
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90.2);
	height: calc((var(--init-new-vw) / 1440) * 54.21);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 545);
	right: calc((var(--init-new-vw) / 1440) * 371);
}

.Design-right-page-3 .mushroom
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 180);
	height: calc((var(--init-new-vw) / 1440) * 170);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 58);
	right: calc((var(--init-new-vw) / 1440) * 115);
}

.Design-right-page-3 .dodo
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 51);
	height: calc((var(--init-new-vw) / 1440) * 54.21);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 712);
	right: calc((var(--init-new-vw) / 1440) * 419);
}

.Design-right-page-3 .cake1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 34);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 626);
	right: calc((var(--init-new-vw) / 1440) * 131);
}

.Design-right-page-3 .bottom-letters
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 420);
	height: calc((var(--init-new-vw) / 1440) * 79);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 699);
	right: calc((var(--init-new-vw) / 1440) * 71);
}*/

@media screen and (max-width: 1000px){
.Design-left-page-3
{
	display: none;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 6 + 60px);
}

.Design-right-page-3
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 7 + 70px);
}

.Design-right-page-3:before
{
	display: none;
}

}










