/*Left Page*/
.Design-left-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

/*Right Page*/
.Design-right-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-3:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-3:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-3:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-3:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/


/* Left */

.Design-left-page-3 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 497);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.P-counter
{
	position: absolute;
	display: var(--init-counter-display);
	margin: 0;
	color: white;
	left: calc((var(--init-new-vw) / 1440) * var(--init-counter-left));
	top: calc((var(--init-new-vw) / 1440) * var(--init-counter-top));
	padding: 0;
	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * var(--init-counter-font));
}


.A-counter{

	--init-counter-left: 203;
	--init-counter-top: 230;
	--init-counter-font: 32;
	--init-counter-display: block;
}

.D-counter{

	--init-counter-left: 198;
	--init-counter-top: 370;
	--init-counter-font: 55;
	--init-counter-display: block;
}
.B-counter{

	--init-counter-left: 180;
	--init-counter-top: 375;
	--init-counter-font: 48;	
	--init-counter-display: block;
}
.O-counter{
	--init-counter-left: 178;
	--init-counter-top: 330;
	--init-counter-font: 55;	
	--init-counter-display: block;
}
.Obs-counter{
	--init-counter-left: 145;
	--init-counter-top: 375;
	--init-counter-font: 55;
	--init-counter-display: block;
}
.Om-counter{
	--init-counter-left: 197;
	--init-counter-top: 375;
	--init-counter-font: 55;
	--init-counter-display: block;
}

.Ob-counter{

	--init-counter-left: 160;
	--init-counter-top: 350;
	--init-counter-font: 55;
	--init-counter-display: block;
}

.Q-counter{
	--init-counter-left: 150;
	--init-counter-top: 270;
	--init-counter-font: 55;	
	--init-counter-display: block;
}

.f-counter{

	--init-counter-left: 128;
	--init-counter-top: 270;
	--init-counter-font: 38;
	--init-counter-display: block;	
}
.R-counter{

	--init-counter-left: 151;
	--init-counter-top: 145;
	--init-counter-font: 43;
	--init-counter-display: block;
}
.per-counter{

	--init-counter-left: 353;
	--init-counter-top: 420;
	--init-counter-font: 38;
	--init-counter-display: block;	
}
.e-counter{

	--init-counter-left: 125;
	--init-counter-top: 400;
	--init-counter-font: 45;
	--init-counter-display: block;	
}

.sh-counter{
	--init-counter-left: 163;
	--init-counter-top: 270;
	--init-counter-font: 33;	
	--init-counter-display: block;
}
.sx-counter{
	--init-counter-left: 125;
	--init-counter-top: 390;
	--init-counter-font: 45;
	--init-counter-display: block;	
}

.ac-counter{
	--init-counter-left: 182;
	--init-counter-top: 340;
	--init-counter-font: 23;
	--init-counter-display: block;	
}

.nn-counter
{
	--init-counter-left: 110;
	--init-counter-top: 140;
	--init-counter-font: 48;
	--init-counter-display: block;
}

.U-counter{
	--init-counter-left: 190;
	--init-counter-top: 350;
	--init-counter-font: 55;
	--init-counter-display: block;
}



.C-counter{
	--init-counter-display: none;	
}
.N-counter{
	--init-counter-display: none;	
}
.Z-counter{
	--init-counter-display: none;	
}
.K-counter{
	--init-counter-display: none;	
}
.cn-counter{
	--init-counter-display: none;	
}
.sv-counter{
	--init-counter-display: none;	
}
.qu-counter{
	--init-counter-display: none;	
}
.S-counter{
	--init-counter-display: none;	
}
.C-counter{
	--init-counter-display: none;	
}
.M-counter{
	--init-counter-display: none;	
}
.Bx-counter{
	--init-counter-display: none;	
}
.E-counter{
	--init-counter-display: none;	
}
.Ff-counter{
	--init-counter-display: none;	
}
.at-counter{
	--init-counter-display: none;	
}



.water
{
	position: absolute;	
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 53);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
}

.water .alpha-P
{
	position: absolute;
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	margin: 0;
}

/*test */
/*.alphabet-size
{
	position: absolute;
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 404);
	height: calc((var(--init-new-vw) / 1440) * 567);
	line-height: 50%;
	margin: 0;	
	border: 1px solid blue;
}*/

.alpha-A
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 960);
	line-height: 50%;
	margin: 0;	
}

 /* line2 */
.alpha-B
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 975);
	line-height: 48%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}

.alpha-O
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 515);
	height: calc((var(--init-new-vw) / 1440) * 620);
	/*font-size: calc((var(--init-new-vw) / 1440) * 925);*/

	left: 0;
}

.alpha-D
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 930);
	line-height: 54%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}


/* line3 */
.alpha-f
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 959);
	line-height: 50%;
	left: calc((var(--init-new-vw) / 1440) * -36);
}

.alpha-C
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 945);
	line-height: 50%;
	left: calc((var(--init-new-vw) / 1440) * -45);
}
.alpha-N
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 930);
	line-height: 54%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}
.alpha-Om
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 925);
	line-height: 53%;
	left: calc((var(--init-new-vw) / 1440) * -44);
}


/* line 4 */
.alpha-Ob
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 500);
	height: calc((var(--init-new-vw) / 1440) * 590);
}
.alpha-R
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 930);
	line-height: 54%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}
.alpha-per
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 800);
	line-height: 72%;
	left: calc((var(--init-new-vw) / 1440) * -28);
}
.alpha-Z
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 963);
	line-height: 49%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}


/* line 5 */
.alpha-K
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 930);
	line-height: 54%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}
.alpha-e
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 945);
	line-height: 50%;
	left: calc((var(--init-new-vw) / 1440) * -60);
}
.alpha-cn
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 920);
	line-height: 53%;
	left: calc((var(--init-new-vw) / 1440) * -25);
}
.alpha-Q
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 780);
	line-height: 50%;
	left: calc((var(--init-new-vw) / 1440) * -39);
}


/* 6 */
.alpha-sh
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 944);
	line-height: 52%;
	left: calc((var(--init-new-vw) / 1440) * -30);
}
.alpha-sv
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 960);
	line-height: 50%;
	left: calc((var(--init-new-vw) / 1440) * -28);
}
.alpha-qu
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 820);
	line-height: 68%;
	left: calc((var(--init-new-vw) / 1440) * -10);
}
.alpha-sx
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 940);
	line-height: 51%;
	left: calc((var(--init-new-vw) / 1440) * -57);
}
.alpha-ac
{
	position: absolute;
	display: none;
	width: calc((var(--init-new-vw) / 1440) * 500);
	height: calc((var(--init-new-vw) / 1440) * 565);
}
.alpha-Obs
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 955);
	line-height: 49%;
	left: calc((var(--init-new-vw) / 1440) * -48);
}
.alpha-S
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 940);
	line-height: 51%;
	left: calc((var(--init-new-vw) / 1440) * -45);
}


/* line 7 */
.alpha-nn
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 940);
	line-height: 49%;
	left: calc((var(--init-new-vw) / 1440) * -50);
}
.alpha-M
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 700);
	line-height: 94%;
	left: calc((var(--init-new-vw) / 1440) * -25);
}
.alpha-Bx
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 830);
	line-height: 68%;
	left: calc((var(--init-new-vw) / 1440) * -15);
}
.alpha-U
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 930);
	line-height: 52%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}
.alpha-E
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 960);
	line-height: 49.5%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}
.alpha-Ff
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 930);
	line-height: 54%;
	left: calc((var(--init-new-vw) / 1440) * -40);
}
.alpha-at
{
	position: absolute;
	display: none;
	font-size: calc((var(--init-new-vw) / 1440) * 680);
	line-height: 54%;
	left: calc((var(--init-new-vw) / 1440) * -35);
}



.water .box
{
	content: '';
	display: var(--init-box-display);
	position: absolute;	
	width: calc((var(--init-new-vw) / 1440) * var(--init-water-width));
	height: calc((var(--init-new-vw) / 1440) * var(--init-water-height));
	border: 1px solid white;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * var(--init-water-top));
	left: calc((var(--init-new-vw) / 1440) * var(--init-water-left));

	border-bottom-right-radius: calc((var(--init-new-vw) / 1440) * var(--init-bbr));
	border-top-right-radius: calc((var(--init-new-vw) / 1440) * var(--init-btr));
	border-bottom-left-radius: calc((var(--init-new-vw) / 1440) * var(--init-bbl));
	border-top-left-radius: calc((var(--init-new-vw) / 1440) * var(--init-btl));

	background-image: url(../images/wave.png);
	background-repeat: repeat-x;
	background-size: calc((var(--init-new-vw) / 1440) * 500) calc((var(--init-new-vw) / 1440) * 310);
	background-position: left 0px top calc((var(--init-new-vw) / 1440) * 210);
	-webkit-animation: wave 12s linear infinite;
	        animation: wave 12s linear infinite;
}


.A-box{
	--init-water-width: 180;
	--init-water-height: 310;
	--init-water-top: 70; 
	--init-water-left: 165;
	--init-bbr: 10;
	--init-bbl: 10;
	--init-btr: 300;
	--init-btl: 300;
	--init-box-display: block;
}

.D-box{
	--init-water-width: 400;
	--init-water-height: 310;
	--init-water-top: 245; 
	--init-water-left: 90;
	--init-bbr: 300;
	--init-bbl: 0;
	--init-btr: 0;
	--init-btl: 0;
	--init-box-display: block;
}

.B-box{
	--init-water-width: 300;
	--init-water-height: 280;
	--init-water-top: 270; 
	--init-water-left: 90;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 300;
	--init-btl: 300;
	--init-box-display: block;
}
.O-box{
	--init-water-width: 380;
	--init-water-height: 310;
	--init-water-top: 200; 
	--init-water-left: 68;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
	--init-box-display: block;
}




.f-box{
	--init-water-width: 250;
	--init-water-height: 260;
	--init-water-top: 140; 
	--init-water-left: 75;
	--init-bbr: 0;
	--init-bbl: 0;
	--init-btr: 0;
	--init-btl: 220;
	--init-box-display: block;

}
.Om-box{
	--init-water-width: 380;
	--init-water-height: 310;
	--init-water-top: 250; 
	--init-water-left: 68;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
	--init-box-display: block;
}
.C-box{
	--init-box-display: none;
}
.N-box{
	--init-box-display: none;
}



.Ob-box{
	--init-water-width: 380;
	--init-water-height: 310;
	--init-water-top: 250; 
	--init-water-left: 68;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
}
.R-box{
	--init-water-width: 200;
	--init-water-height: 270;
	--init-water-top: 45; 
	--init-water-left: 120;
	--init-bbr: 300;
	--init-bbl: 0;
	--init-btr: 300;
	--init-btl: 0;
	--init-box-display: block;
}

.per-box{
	--init-water-width: 200;
	--init-water-height: 200;
	--init-water-top: 350; 
	--init-water-left: 320;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 300;
	--init-btl: 300;
	--init-box-display: block;
}
.Z-box{
	--init-box-display: none;
}



.K-box{
	--init-box-display: none;
}
.cn-box{
	--init-box-display: none;
}
.Q-box{
	--init-water-width: 380;
	--init-water-height: 310;
	--init-water-top: 150; 
	--init-water-left: 50;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
}
.e-box{
	--init-water-width: 280;
	--init-water-height: 250;
	--init-water-top: 290; 
	--init-water-left: 50;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 300;
	--init-btl: 300;
}




.sh-box{
	--init-water-width: 170;
	--init-water-height: 210;
	--init-water-top: 190; 
	--init-water-left: 130;
	--init-bbr: 0;
	--init-bbl: 0;
	--init-btr: 0;
	--init-btl: 0;
	--init-box-display: block;
}
.sv-box{
	--init-box-display: none;
}
.qu-box{
	--init-box-display: none;
}
.S-box{
	--init-box-display: none;
}
.sx-box{
	--init-water-width: 280;
	--init-water-height: 250;
	--init-water-top: 290; 
	--init-water-left: 50;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 300;
	--init-btl: 300;
	--init-box-display: block;
}

.ac-box{
	--init-water-width: 180;
	--init-water-height: 180;
	--init-water-top: 250; 
	--init-water-left: 150;
	--init-bbr: 300;
	--init-bbl: 0;
	--init-btr: 300;
	--init-btl: 300;
	--init-box-display: block;
}



.Obs-box{
	--init-water-width: 360;
	--init-water-height: 310;
	--init-water-top: 250; 
	--init-water-left: 40;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
	--init-box-display: block;
}





.nn-box{
	--init-water-width: 270;
	--init-water-height: 290;
	--init-water-top: 20; 
	--init-water-left: 50;
	--init-bbr: 300;
	--init-bbl: 200;
	--init-btr: 200;
	--init-btl: 200;
	--init-box-display: block;
}
.M-box{
	--init-box-display: none;
}
.Bx-box{
	--init-box-display: none;
}
.U-box{
	--init-water-width: 380;
	--init-water-height: 310;
	--init-water-top: 250; 
	--init-water-left: 68;
	--init-bbr: 300;
	--init-bbl: 300;
	--init-btr: 0;
	--init-btl: 0;
	--init-box-display: block;
}
.E-box{
	--init-box-display: none;
}
.Ff-box{
	--init-box-display: none;
}
.at-box{
	--init-box-display: none;
}






.patch{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 100);
	height: calc((var(--init-new-vw) / 1440) * 100);
	border-radius: 50%;
	background: white;
	display: none;
}

.pos-pr{
	top: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 140);

}

.pos-pl{
	top: calc((var(--init-new-vw) / 1440) * 125);
	left: calc((var(--init-new-vw) / 1440) * 120);
}


/*animation for wave*/
@-webkit-keyframes wave
{
	0%
	{
		background-position: left 0px top calc((var(--init-new-vw) / 1440) * 280);

	}
	
	50%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 2760) top 0px;	
	}

	
	100%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 5400) top calc((var(--init-new-vw) / 1440) * 280);
	}

}
/*@keyframes wave
{
	0%
	{
		background-position: left 0px top calc((var(--init-new-vw) / 1440) * 280);

	}
	
	50%
	{

		background-position: left calc((var(--init-new-vw) / 1440) * 2760) top 0px;	
	}

}*/


.Design-left-page-3 .design-bt-line
{
	position: absolute;
	margin: 0;
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	width: calc((var(--init-new-vw) / 1440) * 526);
	top: calc((var(--init-new-vw) / 1440) * 675);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
}

.Design-left-page-3 h3
{
	position: absolute;
	margin: 0;
	height: calc((var(--init-new-vw) / 1440) * 52);
	width: calc((var(--init-new-vw) / 1440) * 526);
	top: calc((var(--init-new-vw) / 1440) * 693);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	line-height: 130%;
}


/*Right*/

.Design-right-page-3 h1
{
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 26);
	right: calc((var(--init-new-vw) / 1440) * 72);
	text-align: right;
	text-transform: lowercase;

}

.g-line{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 465);
	height: calc((var(--init-new-vw) / 1440) * 10);
	top: calc((var(--init-new-vw) / 1440) * 404);
	left: calc((var(--init-new-vw) / 1440) * 102);
	background: #3DB349;
}

.r-line{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 465);
	height: calc((var(--init-new-vw) / 1440) * 10);
	top: calc((var(--init-new-vw) / 1440) * 620);
	left: calc((var(--init-new-vw) / 1440) * 102);
	background: #EB0000;
}

.l-letter{
	position: absolute;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	left: calc((var(--init-new-vw) / 1440) * 35.5);

}

.A-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 150);
	height: calc((var(--init-new-vw) / 1440) * 160);
	left: calc((var(--init-new-vw) / 1440) * 150);
	line-height: 51%;
	font-weight: 800;
	font-size: calc((var(--init-new-vw) / 1440) * 260);
	z-index: 100;
}

.mushroom-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 300);
	height: calc((var(--init-new-vw) / 1440) * 310);
	left: calc((var(--init-new-vw) / 1440) * 270);
	top: calc((var(--init-new-vw) / 1440) * -10);
}

/*.A-letter:hover{
	color: green;
}*/



.B-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 140);
	height: calc((var(--init-new-vw) / 1440) * 135);
	left: calc((var(--init-new-vw) / 1440) * 113);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 220);
}

.O-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 140);
	height: calc((var(--init-new-vw) / 1440) * 135);
	left: calc((var(--init-new-vw) / 1440) * 262);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 220);
}

.D-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 140);
	height: calc((var(--init-new-vw) / 1440) * 135);
	left: calc((var(--init-new-vw) / 1440) * 420);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 220);
	z-index: 100;
}
.C-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 109);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
}

.N-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 231);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
}

.f-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 360);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
	z-index: 100;
}

.Om-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90);
	height: calc((var(--init-new-vw) / 1440) * 90);
	left: calc((var(--init-new-vw) / 1440) * 471);
	font-weight: 700;
	line-height: 50%;
	font-size: calc((var(--init-new-vw) / 1440) * 140);
}







.R-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 60%;
	font-size: calc((var(--init-new-vw) / 1440) * 96);
}
.mouse-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 147);
	height: calc((var(--init-new-vw) / 1440) * 157);
	left: calc((var(--init-new-vw) / 1440) * 160);
	top:calc((var(--init-new-vw) / 1440) * 498);

}
.Ob-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 75);
	height: calc((var(--init-new-vw) / 1440) * 75);
	left: calc((var(--init-new-vw) / 1440) * 302);
	top: calc((var(--init-new-vw) / 1440) * 533);
}
/*
.Ob-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 302);
	font-weight: 700;
	line-height: 90%;
	font-size: calc((var(--init-new-vw) / 1440) * 76);

}*/
.per-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 403);
	font-weight: 700;
	line-height: 60%;
	font-size: calc((var(--init-new-vw) / 1440) * 96);
}
.Z-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 60);
	left: calc((var(--init-new-vw) / 1440) * 517);
	font-weight: 700;
	line-height: 60%;
	font-size: calc((var(--init-new-vw) / 1440) * 96);
}




.P-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.K-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 181);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.e-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 269);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.cn-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 356);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}

.cake-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 50);
	height: calc((var(--init-new-vw) / 1440) * 50);
	left: calc((var(--init-new-vw) / 1440) * 444);
	top:calc((var(--init-new-vw) / 1440) * 635);
}

.Q-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 532);
	font-weight: 700;
	line-height: 64%;
	font-size: calc((var(--init-new-vw) / 1440) * 60);
}



.sv-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.sh-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 176);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.qu-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 252);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}


.sx-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 328);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.ac-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 404);
	font-weight: 700;
	line-height: 110%;
	font-size: calc((var(--init-new-vw) / 1440) * 28);
}

.Obs-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 480);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}

.S-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 25);
	left: calc((var(--init-new-vw) / 1440) * 556);
	font-weight: 700;
	line-height: 82%;
	font-size: calc((var(--init-new-vw) / 1440) * 34);
}






.M-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 100);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.boot-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 40);
	height: calc((var(--init-new-vw) / 1440) * 40);
	left: calc((var(--init-new-vw) / 1440) * 160);
	top:calc((var(--init-new-vw) / 1440) * 735)

}

.Bx-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 30);
	height: calc((var(--init-new-vw) / 1440) * 30);
	left: calc((var(--init-new-vw) / 1440) * 230);
	font-weight: 700;
	line-height: 100%;
}

.U-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 295);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.E-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 361);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.nn-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 426);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}
.Ff-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 491);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}

.at-letter{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 20);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 556);
	font-weight: 700;
	line-height: 100%;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}


.pnt-n{
	pointer-events:none;
}

.crs-y{
	cursor: pointer;
}


.s-top{
	top:calc((var(--init-new-vw) / 1440) * 26);
}
.s-midt{
	top:calc((var(--init-new-vw) / 1440) * 76.23);
}
.s-midm{
	top:calc((var(--init-new-vw) / 1440) * 252.67);
}
.s-midb{
	top:calc((var(--init-new-vw) / 1440) * 429.9);
}
.s-bot{
	top:calc((var(--init-new-vw) / 1440) * 541.67);
}
.s-bott{
	top:calc((var(--init-new-vw) / 1440) * 637.17);
}
.s-botm{
	top:calc((var(--init-new-vw) / 1440) * 697.3);
}
.s-botb{
	top:calc((var(--init-new-vw) / 1440) * 745.19);
}
/*.Design-right-page-3 .top-letter
{
	width: calc((var(--init-new-vw) / 1440) * 471.98);
	height: calc((var(--init-new-vw) / 1440) * 704);
	position: absolute;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 13);
	right: calc((var(--init-new-vw) / 1440) * 56);
}

.Design-right-page-3 .weights
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 78);
	height: calc((var(--init-new-vw) / 1440) * 727);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 24);
	right: calc((var(--init-new-vw) / 1440) * 520);
}


.Design-right-page-3 .mboot
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 456);
	height: calc((var(--init-new-vw) / 1440) * 28);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 726);
	right: calc((var(--init-new-vw) / 1440) * 65);
}

.Design-right-page-3 .mouse
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 90.2);
	height: calc((var(--init-new-vw) / 1440) * 54.21);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 545);
	right: calc((var(--init-new-vw) / 1440) * 371);
}

.Design-right-page-3 .mushroom
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 180);
	height: calc((var(--init-new-vw) / 1440) * 170);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 58);
	right: calc((var(--init-new-vw) / 1440) * 115);
}

.Design-right-page-3 .dodo
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 51);
	height: calc((var(--init-new-vw) / 1440) * 54.21);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 712);
	right: calc((var(--init-new-vw) / 1440) * 419);
}

.Design-right-page-3 .cake1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 70);
	height: calc((var(--init-new-vw) / 1440) * 34);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 626);
	right: calc((var(--init-new-vw) / 1440) * 131);
}

.Design-right-page-3 .bottom-letters
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 420);
	height: calc((var(--init-new-vw) / 1440) * 79);
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 699);
	right: calc((var(--init-new-vw) / 1440) * 71);
}*/

@media screen and (max-width: 1000px){
.Design-left-page-3
{
	display: none;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 6 + 60px);
}

.Design-right-page-3
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 7 + 70px);
}

.Design-right-page-3:before
{
	display: none;
}

}










