.Design-left-page-6
{
	display: block;
	width: calc((var(--init-new-vw) / var(--init-width)) * 634);
	height: calc((var(--init-new-vw) / var(--init-width)) * 792); 
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

.Design-right-page-6
{
	display: block;
	width: calc((var(--init-new-vw) / var(--init-width)) * 634);
	height: calc((var(--init-new-vw) / var(--init-width)) * 792); 
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-6:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-6:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-6:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-6:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/


/*Left*/
.Design-left-page-6 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / var(--init-width)) * 497);
	height: calc((var(--init-new-vw) / var(--init-width)) * 25);
	top: calc((var(--init-new-vw) / var(--init-width)) * 26);
	left: calc((var(--init-new-vw) / var(--init-width)) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / var(--init-width)) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.Design-left-page-6 .d6-regular
{
	position: absolute;
	margin: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 85);
	height: calc((var(--init-new-vw) / var(--init-width)) * 32);
	top: calc((var(--init-new-vw) / var(--init-width)) * 14);
	left: calc((var(--init-new-vw) / var(--init-width)) * 400);

	border: calc((var(--init-new-vw) / var(--init-width)) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / var(--init-width)) * 48);

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / var(--init-width)) * 17);
	line-height: 170%;
	text-align: center;
	color: white;
	background: black;

	cursor: pointer;
}

.Design-left-page-6 .d6-italic
{
	position: absolute;
	margin: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 85);
	height: calc((var(--init-new-vw) / var(--init-width)) * 32);
	top: calc((var(--init-new-vw) / var(--init-width)) * 14);
	left: calc((var(--init-new-vw) / var(--init-width)) * 521);

	border: calc((var(--init-new-vw) / var(--init-width)) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / var(--init-width)) * 48);

	font-style: italic;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / var(--init-width)) * 17);
	line-height: 170%;
	text-align: center;

	cursor: pointer;
}

.Design-left-page-6 .lowercase-container
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 662);
	top: calc((var(--init-new-vw) / var(--init-width)) * 68);
	left: calc((var(--init-new-vw) / var(--init-width)) * 72);

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / var(--init-width)) * 92);
}

.lowercase-container .abcd01
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
}


.abcd01 li
{
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 25);

}


.abcd01 li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 142);
}

.lowercase-container .efgh23
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 80);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
}


.efgh23 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.efgh23 li:nth-of-type(1)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 24);
}

.efgh23 li:nth-of-type(2)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 46);
}

.efgh23 li:nth-of-type(3)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 23);
}



.efgh23 li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 142);
}
.efgh23 li:nth-of-type(5)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 23);
}


.lowercase-container .ijk45
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 154);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
}


.ijk45 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.ijk45 li:nth-of-type(1)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 41);
	/*margin-right: calc((100vw / var(--init-width)) * 41);*/
}

.ijk45 li:nth-of-type(2)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 117);
}

.ijk45 li:nth-of-type(3)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 147);
}

.ijk45 li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 20);
}

.lowercase-container .lmn67
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 228);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
	
}


.lmn67 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.lmn67 li:nth-of-type(1)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 85);
	/*margin-right: calc((100vw / var(--init-width)) * 85);*/
}

.lmn67 li:nth-of-type(2)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 22);
}

.lmn67 li:nth-of-type(3)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 140);
}

.lmn67 li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 20);
}


.lowercase-container .opqr89
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 302);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
	
}


.opqr89 li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.opqr89 li:nth-of-type(1)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 19);
}

.opqr89 li:nth-of-type(2)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 23);
}

.opqr89 li:nth-of-type(3)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 22);
}

.opqr89 li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 155);
}

.opqr89 li:nth-of-type(5)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 17);
}



.lowercase-container .st
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 376);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
	
}


.st li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.st li:nth-of-type(1)
{
	margin-left: calc((var(--init-new-vw) / var(--init-width)) * 146);
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 23);
}



.lowercase-container .uvw
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 450);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
	
}


.uvw li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.uvw li:nth-of-type(1)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 20);
}
.uvw li:nth-of-type(2)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 11);
}


.lowercase-container .xyz
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / var(--init-width)) * 508.68);
	height: calc((var(--init-new-vw) / var(--init-width)) * 76);
	top: calc((var(--init-new-vw) / var(--init-width)) * 524);
	left: 0;
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 88);

	display: flex;
	list-style: none;
	
}


.xyz li
{
	position: relative;
	margin: 0;
	padding: 0;
}

.xyz li:nth-of-type(1)
{
	margin-left: calc((var(--init-new-vw) / var(--init-width)) * 66);
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 29);
}
.xyz li:nth-of-type(2)
{
	margin-right: calc((var(--init-new-vw) / var(--init-width)) * 20);
}





/*Right */
.Design-right-page-6 h1
{
	width: calc((var(--init-new-vw) / var(--init-width)) * 526);
	height: calc((var(--init-new-vw) / var(--init-width)) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / var(--init-width)) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((var(--init-new-vw) / var(--init-width)) * 26);
	right: calc((var(--init-new-vw) / var(--init-width)) * 72);
	text-align: right;
	text-transform: lowercase;
}

.Design-right-page-6 .text-nocake
{
	font-family: Crimson Pro;
	width: calc((var(--init-new-vw) / var(--init-width)) * 526);
	height: calc((var(--init-new-vw) / var(--init-width)) * 327);
	position: absolute;
	margin: 0;
	top: calc((var(--init-new-vw) / var(--init-width)) * 163);
	right: calc((var(--init-new-vw) / var(--init-width)) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / var(--init-width)) * 72);
	line-height: calc((var(--init-new-vw) / var(--init-width)) * 79);
	text-align: center;
	background: transparent;

	color: #70CCF7;
	text-shadow : -1px 0 black, 0 1px black, 1px 0 black, 0 -1px #262626;
	outline: none !important;
	border: none;
	resize: none;
	white-space: nowrap;
	overflow: hidden;
}


.Design-right-page-6 .nocake
{
	width: calc((var(--init-new-vw) / var(--init-width)) * 526.1);
	height: calc((var(--init-new-vw) / var(--init-width)) * 168.22);
	position: absolute;
	margin: 0;
	top: calc((var(--init-new-vw) / var(--init-width)) * 542);
	right: calc((var(--init-new-vw) / var(--init-width)) * var(--init-margin-left));

}

@media screen and (max-width: 1000px){
.Design-left-page-6
{
	display: block;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((var(--init-new-vw) / var(--init-width)) * 792 * 12 + 120px);
}

.Design-right-page-6
{
	position: absolute;
	display: block;
	width: 100vw;
	left:0;
	right:0;
	top: calc((var(--init-new-vw) / var(--init-width)) * 792 * 13 + 130px);
}

.Design-right-page-6:before
{
	display: none;
}

}