/* Design page 1 Left */
.Design-left-page-1
{

	background-color: #FFBFF1;
	display: block;
	/*width: 44.028vw;
	height: calc(57.85vw * 0.95078);*/
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	position: absolute;
	right: 0;
	top: 0;
}


/* Design page 1 Right*/
.Design-right-page-1
{
	background: radial-gradient(113.79% 107.74% at 1.8% 51.22%, #000000 0%, #000000 85.19%, #FFBFF1 100%);
	display: block;

	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	/*width: 44.028vw;
	height: calc(57.85vw * 0.95078);*/
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-1:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-1:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-1:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: #FFBFF1;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-1:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: #FFBFF1;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/

.Design-left-page-1 .gradient-line-l{
	background-image: linear-gradient(to right, #FFBFF1, #E8B1DC , #8B6984);
}

.Design-right-page-1 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 45);
	height: calc((var(--init-new-vw) / 1440) * 22);
	top: calc((var(--init-new-vw) / 1440) * 314.77);
	left: calc((var(--init-new-vw) / 1440) * 294.74);
	font-family: Crimson Pro;
	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 20);
	line-height: calc((var(--init-new-vw) / 1440) * 22);
	letter-spacing: calc((var(--init-new-vw) / 1440) * -0.294);
	margin: 0;
	color: #FFBFF1;
}

.Design-right-page-1 h2
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 147);
	height: calc((var(--init-new-vw) / 1440) * 53);
	top: calc((var(--init-new-vw) / 1440) * 342.66);
	left: calc((var(--init-new-vw) / 1440) * 242.24);
	margin: 0;
	font-style: normal;
	font-weight: 900;
	font-size: calc((var(--init-new-vw) / 1440) * 48);
	line-height: calc((var(--init-new-vw) / 1440) * 53);
	border-top: calc((var(--init-new-vw) / 1440) * 1.5) solid #FFBFF1;
	color: #FFBFF1;
}

/* Mobile */
@media screen and (max-width: 1000px){

.Design-right-page-1
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((100vw / 1440) * 792 * 3 + 30px);
}

.Design-left-page-1
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((100vw / 1440) * 792 * 3 + 30px);
}

.Design-right-page-1:before
{

	display: none;

}

}



