.Design-left-page-7
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

.Design-right-page-7
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;
}

/*.Design-right-page-7:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Design-right-page-7:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-7:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: white;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Design-left-page-7:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: white;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/

.Design-left-page-7 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 497);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.Design-left-page-7 h2
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 525.6);
	height: calc((var(--init-new-vw) / 1440) * 140);
	top: calc((var(--init-new-vw) / 1440) * 63);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));
	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 48);
	line-height: calc((var(--init-new-vw) / 1440) * 53);
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;
	margin: 0;
}


.Design-left-page-7 h2 span
{
	font-style: italic;
	font-weight: 300;
}

.Design-left-page-7 .language-container
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 426.16);
	top: calc((var(--init-new-vw) / 1440) * 282.74);
	left: calc((var(--init-new-vw) / 1440) * var(--init-margin-left));

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 18);
	line-height: calc((var(--init-new-vw) / 1440) * 40);
	text-align: center;
}

.AEIR
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;
	display: flex;
	list-style: none;
}

.AEIR li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.AEIR li:nth-of-type(2)
{
	background-color: #3eb549;
}

.AEIR li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}



.AELS
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: calc((var(--init-new-vw) / 1440) * 70);
	left: 0;
	display: flex;
	list-style: none;
}

.AELS li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.AELS li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}

.CFLS
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: calc((var(--init-new-vw) / 1440) * 140);
	left: 0;
	display: flex;
	list-style: none;
}

.CFLS li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.CFLS li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}


.CFMS
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: calc((var(--init-new-vw) / 1440) * 210);
	left: 0;
	display: flex;
	list-style: none;
}

.CFMS li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.CFMS li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}


.CGNS
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: calc((var(--init-new-vw) / 1440) * 280);
	left: 0;
	display: flex;
	list-style: none;
}

.CGNS li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.CGNS li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}

.DHPT
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: calc((var(--init-new-vw) / 1440) * 350);
	left: 0;
	display: flex;
	list-style: none;
}

.DHPT li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.DHPT li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}

.DCPV
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 524.76);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: calc((var(--init-new-vw) / 1440) * 420);
	left: 0;
	display: flex;
	list-style: none;
}

.DCPV li
{
	position: relative;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 120.56);
	height: calc((var(--init-new-vw) / 1440) * 41.97);
	top: 0;
	left: 0;

	border: calc((var(--init-new-vw) / 1440) * 1) solid #262626;
	border-radius: calc((var(--init-new-vw) / 1440) * 48);
	margin-right: calc((var(--init-new-vw) / 1440) * 13);
	cursor: pointer;
}

.DCPV li:nth-of-type(4)
{
	margin-right: calc((var(--init-new-vw) / 1440) * 0);
}



/*Right */
.Design-right-page-7 h1
{
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 26);
	right: calc((var(--init-new-vw) / 1440) * 72);
	text-align: right;
	text-transform: lowercase;
}

.custom-select {
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 151.29);
	height: calc((var(--init-new-vw) / 1440) * 23.02);
	top: calc((var(--init-new-vw) / 1440) * 72);
	right: calc((var(--init-new-vw) / 1440) * 445.21);

	font-size: calc((var(--init-new-vw) / 1440) * 13);
	line-height: calc((var(--init-new-vw) / 1440) * 23);
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: transparent;
  margin-right: calc((var(--init-new-vw) / 1440) * 26);
  text-align: center;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: calc((var(--init-new-vw) / 1440) * 8);
  right: calc((var(--init-new-vw) / 1440) * 8);
  width: 0;
  height: 0;
  border:calc((var(--init-new-vw) / 1440) * 6) solid transparent;
  border-color: black transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected .select-arrow-active:after {
  border-color: transparent transparent black transparent;
  top: calc((var(--init-new-vw) / 1440) * 2);
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: black;
  padding:0;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: white;
  top: calc((var(--init-new-vw) / 1440) * 23.02);
  left: 0;
  right: 0;
  z-index: 99;
  height: calc((var(--init-new-vw) / 1440) * 161.14);
  overflow: auto;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: white;
  border: calc((var(--init-new-vw) / 1440) * 1) solid black;
}

.d7-border
{
  position: absolute;
  margin: 0;
  padding: 0;
  width: calc((var(--init-new-vw) / 1440) * 151.29);
  height: calc((var(--init-new-vw) / 1440) * 23.02);
  top: calc((var(--init-new-vw) / 1440) * 72);
  right: calc((var(--init-new-vw) / 1440) * 445.21);
  border-radius: calc((var(--init-new-vw) / 1440) * 3);
  border: 1px solid black;
}

.p7text-container
{
  position: absolute;
  margin: 0;
  padding: 0;
  width: calc((var(--init-new-vw) / 1440) * 534);
  height: calc((var(--init-new-vw) / 1440) * 590);
  top: calc((var(--init-new-vw) / 1440) * 120);
  /*top: calc((var(--init-new-vw) / 1440) * 154.35);*/
  left: calc((var(--init-new-vw) / 1440) * 32);
}

.p7title
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 534);
	height: calc((var(--init-new-vw) / 1440) * 100);
	right: 0;

	font-style: normal;
	font-weight: bold;
	font-size: calc((var(--init-new-vw) / 1440) * 48);
	line-height: calc((var(--init-new-vw) / 1440) * 53);
	text-align: center;
	color: #3DB349;
}

.p7chapter
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 534);
	height: calc((var(--init-new-vw) / 1440) * 40);
	top: calc((var(--init-new-vw) / 1440) * 110);
	right: 0;

	text-align: center;
	font-style: italic;
	font-weight: 900;
	font-size: calc((var(--init-new-vw) / 1440) * 36);
	line-height: calc((var(--init-new-vw) / 1440) * 40);

	color: #3DB349;
}


.p7paragraph
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((var(--init-new-vw) / 1440) * 534);
	height: calc((var(--init-new-vw) / 1440) * 410);
	top: calc((var(--init-new-vw) / 1440) * 180);
	right: 0;

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 18);
	line-height: calc((var(--init-new-vw) / 1440) * 30);
	text-align: justify;
}

@media screen and (max-width: 1000px){
.Design-left-page-7
{
	display: none;
	width: 100vw;
	left: 0;
	right: 0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 14 + 140px);
}

.Design-right-page-7
{
	position: absolute;
	display: none;
	width: 100vw;
	left:0;
	right:0;
	top: calc((var(--init-new-vw) / 1440) * 792 * 15 + 150px);
}

.Design-right-page-7:before
{
	display: none;
}

}


