/* Load the variable font */
@font-face{
	font-family: 'Roboto VF';
	src: url('../fonts/RobotoFlex[slnt,wdth,wght,opsz].ttf') format('truetype');
	font-stretch: 75% 100%;
	font-style: oblique 0deg 12deg;
	font-weight: 100 900;
}

* 
{
	box-sizing: border-box;
}

:root {
	--init-width: 1440;
	--init-margin-right: 81;
	--init-margin-left: 72;
	--init-d2-rabbit-height: 565;

	--init-vw: 0;
	--init-new-vw: 300px;

	--rotate-x: 0deg;
	--rotate-y: 0deg;
	--rotate-z: 0deg;

	--init-border-color: white;
	--init-line-height: 140;
	--init-border-colorL: black;
	--text-size-L: 180;
	--text-weight: 900;
	--text-weight-small: 200;
	--text-size: 240;
	--header-top-size: 16;
	--text-design-size: 180;
	--astr-margin-right: -25;
	--astr-margin-top: -73;

	--e3-text-weight: 402;
	--e3-text-size: 16;
	--e3-text-lineheight: 18;
}

body 
{
	font-family: 'Crimson Pro', serif;
	background-color: black;
	margin: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	/*overflow: hidden;*/
	
}

/*section
{
	scroll-snap-align: center;

}*/

.stop-scrolling 
{  
    overflow-y: hidden; 
} 

.mainContainer
{
	height: 100vh;
	/*overflow-x: hidden;*/
	/*overflow-y: scroll; */
	/*scroll-snap-points-y: repeat(57.85vw);*/
	/*scroll-snap-type: mandatory;*/
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
}

.contain
{
	position: relative;
	width: 100vw;
	height: 57vw;
	margin: 0 auto;
}

.container
{
display: none;
}

.crimson-book
{
	width: 88.056%;
	height: calc((100vw / var(--init-width)) * 792);
	position: absolute; 
	/*left: 5.972vw;*/
	scroll-snap-align: center;
	top: 0;
	margin: 0 auto;
	
}

.Changes{
	position: absolute;
	top: 0;
	left: 0;
	font-size: 10px;
	color: white;
	z-index: 100;
}

.Intro-left-page-1
{
	display: block;
	width: 50%;
	height: 100%;
	background-color: white;
	position: absolute;
	left: 0;
	top: 0;
}

.Intro-right-page-1
{
	display: block;
	width: 50%;
	height: 100%;
	background-color: white;
	position: absolute;
	right: 0;
	top: 0;


}

.Intro-right-page-1:before {
	content: '';
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;

}
/*
.right-page .slide-down
{
display: none;
}

.right-page .mobile-menu
{
display: none;
}
*/
.btn_left
{
	position: relative;
	top: calc(57.85vw * 0.4856);
	left: calc(57.85vw * 0.027083);
	width: calc((100vw / 1440) * 11);
	height: calc((100vw / 1440) * 18);
	cursor: pointer;
}

.btn_right
{
	position: relative;
	float: right;
	top: calc(57.85vw * 0.4856);
	right: calc(57.85vw * 0.027083);
	width: calc((100vw / 1440) * 11);
	height: calc((100vw / 1440) * 18);
	cursor: pointer;
}


.main-txt
{
	position: absolute;
	width: calc((100vw / var(--init-width)) * 592);
	height: calc((100vw / var(--init-width)) * 102);
	top: calc((100vw / var(--init-width)) * 205);
	right: calc((100vw / var(--init-width)) * 21);
}

.main-txt h1
{
	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / var(--init-width)) * 46);
	line-height: calc((100vw / var(--init-width)) * 51);
	text-align: center;
	font-color: rgb(38, 38, 38);
}

.nd
{
	font-family: Crimson Pro;
	font-style: italic;
	font-weight: normal;
	font-size: calc((100vw / 1440) * 46);
	line-height: calc((100vw / 1440) * 51);
	/*color: #000;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;*/
	color: white;
	text-shadow: #000 0px 0px 1.1px,   #000 0px 0px 1.1px,   #000 0px 0px 1.1px,
	         #000 0px 0px 1.1px,   #000 0px 0px 1.1px,   #000 0px 0px 1.1px;
	-webkit-font-smoothing: antialiased;
}


.nav-container
{
	position: relative;
	height: calc(62.5vw * 0.07);
	width: 100%;
	margin: 0 auto;
	/*top: calc((100vw / 1440) * 1610);*/
	/*scroll-snap-align: end;*/
	left: 0;
	/*scroll-snap-align: end;*/
	z-index: 300;
	background: black;
	/*display: flex;*/
	
}

.sticky {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

.nav-pages
{
	position: absolute;
	display: flex;
	top:0;
	height: calc(62.5vw * 0.07);
	width: 88.028vw;
	left: calc((100vw / 1440) * 83);
}

.nav-container li
{
	list-style: none;
	font-style: normal;
	font-weight: 500;
	font-size: calc((100vw / 1440) * 24);
	
	text-align: center;

	text-decoration: none;
	color: #FFFFFF;
	margin: 0;
	cursor: pointer;
	margin-top: calc((100vw / 1440) * 14);
	/*margin-right: calc((100vw / 1440) * 316);*/
	margin-right: calc((100vw / 1440) * 321);


}

.nav-container li:nth-of-type(1)
{
	margin-left: 0px;
	color: #FEC0F0;
	left: 0;
}


.nav-container li:nth-of-type(4)
{
	margin-right: 0;

}



.book 
{
	position: relative;
	left: calc(57vw / 2);
	top: 0;
	width: 44.028vw;
	height: 100vh;
	/*overflow: hidden;*/
	-webkit-perspective: calc((100vw / 1440) * 1200);
	perspective: calc((100vw / 1440) * 1200);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;

	/* Scroll Snap */
  	/*scroll-snap-align: center;*/
  	
	/*border: 1px solid green;*/
}

.book > div 
{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.bookup 
{
	-webkit-transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
	transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));

}

.book-container 
{
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-animation: 13s rotatingAnimationY linear infinite;
	animation: 13s rotatingAnimationY linear infinite;
	cursor: pointer;
	scroll-snap-align: center;

}

.book-container > div 
{
	position: absolute;
	top: 0;
	left: 0;
	background-size: cover;
	background-position: center center;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}

.book-top, .book-bottom, .book-side-right 
{
	background-size: auto auto;
	background-repeat: repeat;
	background-position: top left;
}

.book-front 
{
	background-image: url('../images/frontcover.svg');
	width: calc((100vw / 1440) * 400);
	height: calc((100vw / 1440) * 540);
	-webkit-transform: translate3d(calc((100vw / 1440) * -200) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 14)) translate3d(0,0,0) rotateY(0deg);
	transform: translate3d(calc((100vw / 1440) * -200) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 14)) translate3d(0,0,0) rotateY(0deg);
}

.book-side-left 
{
  background-image: url('../images/spinecover.svg');
  width: calc((100vw / 1440) * 30);
  height: calc((100vw / 1440) * 540);
  -webkit-transform: translate3d(calc((100vw / 1440) * -187) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 29)) translate3d(calc((100vw / 1440) * -29), 0, calc((100vw / 1440) * -29)) rotateY(-90deg);
  transform: translate3d(calc((100vw / 1440) * -187) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 29)) translate3d(calc((100vw / 1440) * -29), 0, calc((100vw / 1440) * -29)) rotateY(-90deg);
}

.book-side-right 
{
	background-image: url('../images/sidepaper.svg');
	width: calc((100vw / 1440) * 30);
	height: calc((100vw / 1440) * 540);
	-webkit-transform: translate3d(calc((100vw / 1440) * -185) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 29)) translate3d(calc((100vw / 1440) * 371), 0px,calc((100vw / 1440) * -29)) rotateY(90deg);
	transform: translate3d(calc((100vw / 1440) * -185) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 29)) translate3d(calc((100vw / 1440) * 371), 0px,calc((100vw / 1440) * -29)) rotateY(90deg);
}

.book-top 
{
  background-image: url('../images/topbottompaper.svg');
  background-position: bottom right;
  width: calc((100vw / 1440) * 400);
  height: calc((100vw / 1440) * 30);
  -webkit-transform: translate3d(calc((100vw / 1440) * -200), calc((100vw / 1440) * -255) ,calc((100vw / 1440) * 29)) translate3d(0px, calc((100vw / 1440) * -29), calc((100vw / 1440) * -29)) rotateX(-90deg);
  transform: translate3d(calc((100vw / 1440) * -200), calc((100vw / 1440) * -255) ,calc((100vw / 1440) * 29)) translate3d(0px, calc((100vw / 1440) * -29), calc((100vw / 1440) * -29)) rotateX(-90deg);
}

.book-bottom 
{
	background-image: url('../images/topbottompaper.svg');
	width: calc((100vw / 1440) * 400);
	height: calc((100vw / 1440) * 30);
	-webkit-transform: translate3d(calc((100vw / 1440) * -200) ,calc((100vw / 1440) * -255) ,calc((100vw / 1440) * -29)) translate3d(0px, calc((100vw / 1440) * 511), calc((100vw / 1440) * -29)) rotateX(-90deg);
	transform: translate3d(calc((100vw / 1440) * -200) ,calc((100vw / 1440) * -255) ,calc((100vw / 1440) * 29)) translate3d(0px, calc((100vw / 1440) * 511), calc((100vw / 1440) * -29)) rotateX(-90deg);
}

.book-back 
{
	background: white;
	width: calc((100vw / 1440) * 400);
	height: calc((100vw / 1440) * 540);
	-webkit-transform: translate3d(calc((100vw / 1440) * -200) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 44)) translate3d(0,0, calc((100vw / 1440) * -58)) rotateY(180deg);
	transform: translate3d(calc((100vw / 1440) * -200) ,calc((100vw / 1440) * -270) ,calc((100vw / 1440) * 4ㅊ)) translate3d(0,0, calc((100vw / 1440) * -58)) rotateY(180deg);
}

.back 
{
	position: absolute;
	width: calc((100vw / 1440) * 350);
	height: calc((100vw / 1440) * 90);
	top: calc((100vw / 1440) * 425);
	left: calc((100vw / 1440) * 25);
	text-align: justify;
	font-size: calc((100vw / 1440) * 10);
	line-height: calc((100vw / 1440) * 15);
}



/* Mobile */
@media screen and (max-width: 1000px){
	:root{
	--init-width: 634;
	--init-margin-right: 60;
	--init-margin-left: 55;
	--init-d2-rabbit-height: 600;
}


.book 
{

	scroll-snap-align: none;
	display: none;

}

.crimson-book
{
	scroll-snap-align: none;
	
}

.Intro-right-page-1
{
	position: absolute;
	width: 100vw;
	height: calc((100vw / var(--init-width)) * 792);
    text-align: left;
	margin: 0;
	top: 0;
	left: 0;
}




.nd
{
	font-family: Crimson Pro;
	font-style: italic;
	font-weight: normal;
	font-size: 20px;
	line-height: 22px;
	color: white;
	text-shadow: #000 0px 0px 1.1px,   #000 0px 0px 1.1px,   #000 0px 0px 1.1px,
             #000 0px 0px 1.1px,   #000 0px 0px 1.1px,   #000 0px 0px 1.1px;
	-webkit-font-smoothing: antialiased;

}


/*
.right-page .slide-down
{
	display: inline-block;
	position: absolute;
	top: 30px;
	right: 30px;

}
*/

.Intro-right-page-1 .container
{
	display: inline;
	width: 200px;
}

.Intro-right-page-1 .hamburger_btn
{
	width: 18px;
	height: 12px;
	right: 30px;
	top: 30px;
	position: absolute;
	cursor: pointer;
}

.Intro-right-page-1 .hamburger_btn > div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: black;
	transition: all 0.3s linear;
}

.Intro-right-page-1 .hamburger_btn .one
{
 	top: 30%;
}

.Intro-right-page-1 .hamburger_btn .three
{
 	top: 65%;
}

.Intro-right-page-1 .container .menu
{
	width: calc(100% - 50px);
	height: auto;
	margin: 0 auto;
	background: white;
	position: absolute;
	opacity: 0;
	top: 14px;
	left: 0;
	text-align: center;
	transition: all 0.3s linear;
}

.Intro-right-page-1 .container .menu nav
{
	display: flex;
}

.Intro-right-page-1 .container .menu nav li
{
	text-align: center;
	list-style: none;
	transition: all 0.2s linear;
}

.Intro-right-page-1 .container .menu nav li a
{
	padding: 10px;
	font-size: 12px;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	margin: 0 auto;
	display: block;
	transition: all 0.2s linear;
}

.Intro-right-page-1 .container .menu nav li:hover
{
	background: white;
}

.Intro-right-page-1 .container .menu nav li:hover a
{
	color: pink;
}


.Intro-right-page-1 .hamburger_btn.active{
	trasform: rotate(90deg);
}

.Intro-right-page-1 .hamburger_btn.active .one{
    top: 0;
  	left: 0;;
    transform: rotate(45deg);
}

.Intro-right-page-1 .hamburger_btn.active .two{
	opacity: 0;
}

.Intro-right-page-1 .hamburger_btn.active .three{
   	top: 0;
  	left: 0;
   transform: rotate(-45deg);
}

.Intro-right-page-1 .container .menu.active{
	opacity: 1;
	top: 14px;
	left: 0px;
}


.Intro-left-page-1
{
	display: none;	
}
.Intro-right-page-1:before 
{
  	display: none;a
}
.nav-container
{
	display: none;
}
.btn_left
{
	display: none;
}

.btn_right
{
	display: none;
}

}




