.Example-1
{
	position: relative;
	display: block;
	width: 100vw;
	/*height: 100vh;*/
	background-color: black;
	left: 0;
	top: calc((100vw / 1440) * 80);
	
}

.Example-left-page-2
{
	position: relative;
	display: block;
	width: calc((100vw / 1440) * 1189);
	height: calc((100vw / 1440) * 803);
	background-color: black;
	margin: 0 auto;
	/*scroll-snap-align: center;*/
	
}

/*.Example-right-page-2
{
	display: block;
	width: 44.028vw;
	height: calc(57.85vw * 0.95078);
	background-color: black;
	position: relative;
	right: 0;
	top: 0;
	z-index: -1;
}


.Example-right-page-2:before {
	content: '';
	border-left: 1px solid black;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}*/

/*Left*/

.Example-left-page-2 .newspaper
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 1189);
	height: calc((100vw / 1440) * 803);
	top: 0;
	/*left: calc((100vw / 1440) * 50);*/
	left: 0;
	z-index: 10;
}

.Example-left-page-2 h1
{

	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 1130);
	height: calc((100vw / 1440) * 67);
	top: calc((100vw / 1440) * 60);
	left: calc((100vw / 1440) * 25);
	text-align: center;
	z-index: 11;
	font-style: normal;
	font-weight: 900;
	font-size: calc((100vw / 1440) * 60);
	line-height: calc((100vw / 1440) * 67);

}

.Example-left-page-2 .date-container
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 1064.52);
	height: calc((100vw / 1440) * 28.5);
	top: calc((100vw / 1440) * 127);
	left: calc((100vw / 1440) * 60);
	z-index: 11;

	font-style: normal;
	font-weight: normal;
	font-size: calc((100vw / 1440) * 16);
	line-height: calc((100vw / 1440) * 25);

	border-top: calc((100vw / 1440) * 0.5) solid black;
	border-bottom: calc((100vw / 1440) * 1) solid black;
}

.date-container .date-wrapper
{
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}

.reload
{
	margin-right: calc((100vw / 1440) * 382);
	cursor: pointer;
}


/*.date-container li:nth-of-type(3)
{
	margin-right: 0;
}*/

.e2-topic
{
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: Crimson Pro;
	font-size: calc((100vw / 1440) * 14);
	color: grey;
	width: calc((100vw / 1440) * 150);
	line-height: calc((100vw / 1440) * 20);
	height: calc((100vw / 1440) * 20);
	top: calc((100vw / 1440) * 30);
	left: calc((100vw / 1440) * 925);
	background-color: transparent;
	z-index: 11;
}

.input-topic
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 50);
	height: calc((100vw / 1440) * 20);
	top: calc((100vw / 1440) * 30);
	left: calc((100vw / 1440) * 1075);
	font-size: calc((100vw / 1440) * 14);
	color: grey;
	line-height: calc((100vw / 1440) * 20);
	text-align: center;
	background-color: transparent;
	cursor: pointer;
	z-index: 11;
}

.Example-left-page-2 .Example2-1
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 703.68);
	height: calc((100vw / 1440) * 322.63);
	top: calc((100vw / 1440) * 175);
	left: calc((100vw / 1440) * 60);
	background-size: contain;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	background-repeat: no-repeat;
	z-index: 11;
}

.Example-left-page-2 .header-1
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 336);
	height: calc((100vw / 1440) * 130);
	top: calc((100vw / 1440) * 168);
	left: calc((100vw / 1440) * 780);
	z-index: 11;

	font-style: italic;
	text-align: center;

}

.header-1 .mainhead
{
	font-weight: 600;
	font-size: calc((100vw / 1440) * 48);
	line-height: 130%;
	

}

.Example-left-page-2 .example-line-1
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 335);
	border-top: calc((100vw / 1440) * 4) solid #231F20;

	top: calc((100vw / 1440) * 390);
	left: calc((100vw / 1440) * 780);
	z-index: 11;
}

.Example-left-page-2 .author-1
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 336);
	height: calc((100vw / 1440) * 65);

	top: calc((100vw / 1440) * 310);
	left: calc((100vw / 1440) * 780);

	font-style: italic;
	font-weight: 300;
	font-size: calc((100vw / 1440) * 24);
	line-height: calc((100vw / 1440) * 30);
	text-align: center;
	z-index: 11;

}

.Example-left-page-2 .snippet-1
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 322.58);
	height: calc((100vw / 1440) * 120);

	top: calc((100vw / 1440) * 412);
	left: calc((100vw / 1440) * 788);

	font-style: normal;
	font-weight: 250;
	z-index: 11;

}
.snippet{
	font-size: calc((100vw / 1440) * 20);
	line-height: 130%;

}

/*
.Example-left-page-2 .example-line-2
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 162.48);
	border: calc((100vw / 1440) * 0.5) solid #231F20;

	top: calc((100vw / 1440) * 390);
	left: calc((100vw / 1440) * 920);
	z-index: 11;
}
*/
.Example-left-page-2 .example-line-3
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 703.68);
	border: calc((100vw / 1440) * 0.5) solid #231F20;

	top: calc((100vw / 1440) * 530);
	left: calc((100vw / 1440) * 60);
	z-index: 11;
}

.Example-left-page-2 .copyright
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 703.68);
	height: calc((100vw / 1440) * 25);

	font-size: calc((100vw / 1440) * 10);

	top: calc((100vw / 1440) * 770);
	left: calc((100vw / 1440) * 59);
	z-index: 11;
}

.Example-left-page-2 .Example2-2
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 342.84);
	height: calc((100vw / 1440) * 218);

	top: calc((100vw / 1440) * 569);
	left: calc((100vw / 1440) * 423);
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
	background-size: contain;
	background-repeat: no-repeat;
	z-index: 11;

}


.Example-left-page-2 .header-2
{
	position: absolute;
	margin: 0;
	padding: 0;
	height: calc((100vw / 1440) * 165);
	width: calc((100vw / 1440) * 335);

	top: calc((100vw / 1440) * 545);
	left: calc((100vw / 1440) * 60);
	z-index: 11;

	text-align: center;

	font-style: italic;
}

.header-2 .subhead
{
	font-weight: 600;
	font-size: calc((100vw / 1440) * 45);
	line-height: 130%;

}
/*
.Example-left-page-2 .example-line-4
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 162.48);
	border: calc((100vw / 1440) * 0.5) solid #231F20;

	top: calc((100vw / 1440) * 715);
	left: calc((100vw / 1440) * 180);
	z-index: 11;
}*/

.Example-left-page-2 .example-line-5
{
	position: absolute;
	margin: 0;
	padding: 0;
	width: calc((100vw / 1440) * 335);

	top: calc((100vw / 1440) * 760);
	left: calc((100vw / 1440) * 60);
	border-top: calc((100vw / 1440) * 4) solid #231F20;
	z-index: 11;
}



.Example-left-page-2 .author-2
{
	position: absolute;
	margin: 0;
	padding: 0;
	height: calc((100vw / 1440) * 46.55);
	width: calc((100vw / 1440) * 335);

	top: calc((100vw / 1440) * 715);
	left: calc((100vw / 1440) * 60);
	z-index: 11;

	text-align: center;

	font-style: italic;
	font-weight: 300;
}

.author21
{
	font-size: calc((100vw / 1440) * 24);
	line-height: 130%;

}

.Example-left-page-2 .outside
{
	position: absolute;
	margin: 0;
	padding: 0;
	height: calc((100vw / 1440) * 221);
	width: calc((100vw / 1440) * 344);

	top: calc((100vw / 1440) * 568);
	left: calc((100vw / 1440) * 790);
	z-index: 11;
}

.Example-left-page-2 .inside
{
	position: absolute;
	margin: 0;
	padding: 0;
	height: calc((100vw / 1440) * 174);
	width: calc((100vw / 1440) * 287);

	top: calc((100vw / 1440) * 613);
	left: calc((100vw / 1440) * 820);
	z-index: 11;
}
	
.Example-left-page-2 .MadTea
{
	position: absolute;
	margin: 0;
	padding: 0;
	height: calc((100vw / 1440) * 185);
	width: calc((100vw / 1440) * 214);

	top: calc((100vw / 1440) * 610);
	left: calc((100vw / 1440) * 860);

	font-style: normal;
	text-align: center;
	font-weight: 900;
	font-size: calc((100vw / 1440) * 96);
	line-height: calc((100vw / 1440) * 90);
	z-index: 11;
}

@media screen and (max-width: 480px){
.Example-1
{
	display: none;

}

}