.Example-2
{
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	background-color: black;
	left: 0;
	top: calc((100vw / 1440) * 80);
}

.Example-left-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 953.96);
	height: calc((var(--init-new-vw) / 1440) * 596.23);
	background-color: #FEFEFE;
	position: absolute;
	top: calc((var(--init-new-vw) / 1440) * 192);
	left: calc((var(--init-new-vw) / 1440) * 94);
	margin: 0 auto;
}

.Example-right-page-3
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 279);
	height: calc((var(--init-new-vw) / 1440) * 548);
	background-color: #FFFFFF;
	position: absolute;
	top: calc((var(--init-new-vw) / 1440) * 228);
	left: calc((var(--init-new-vw) / 1440) * 1080);
	margin: 0 auto;

	
	border-radius: calc((var(--init-new-vw) / 1440) * 10);
	box-shadow: 0 0 0 .6em lightgrey;
	

}

/*left*/
.top-menu{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 953.96);
	height: calc((var(--init-new-vw) / 1440) * 40.8);
	background-color: #4D4D4D;
	top: calc((var(--init-new-vw) / 1440) * 175.5);
	left: calc((var(--init-new-vw) / 1440) * 94);
	margin: 0 auto;
	z-index: 100;
	border-top-left-radius: calc((var(--init-new-vw) / 1440) * 9);
	border-top-right-radius: calc((var(--init-new-vw) / 1440) * 9);
}

.circ{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 12);
	height: calc((var(--init-new-vw) / 1440) * 12);
	border-radius: 50%;
	top: calc((var(--init-new-vw) / 1440) * 17.71);
	background: #787878;
}

.c-l-1{
	left: calc((var(--init-new-vw) / 1440) * 16.28);
}
.c-l-1:hover{
	background: red;
}
.c-l-2{
	left: calc((var(--init-new-vw) / 1440) * 38.48);
}
.c-l-2:hover{
	background: lightblue;
}
.c-l-3{
	left: calc((var(--init-new-vw) / 1440) * 60.69);
}
.c-l-3:hover{
	background: lightgreen;
}

.h-1-container{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 815);
	height: calc((var(--init-new-vw) / 1440) * 20);
	top: calc((var(--init-new-vw) / 1440) * 49);
	left: calc((var(--init-new-vw) / 1440) * 72.34);
	border: none;
	resize: none;
	line-height: 100%;
	overflow: hidden;
}

.h-1{
	position: relative;
	width: calc((var(--init-new-vw) / 1440) * 131);
	height: calc((var(--init-new-vw) / 1440) * 20);
	font-size: calc((var(--init-new-vw) / 1440) * 13);
	top: 0;
	font-variation-settings: "wght" var(--e3-text-weight);
	border: none;
	resize: none;
	overflow: hidden;
}

.h-end{
	text-align: right;
}
.h-beg{
	text-align: left;
}
.h-cent{
	text-align: center;
}


.h-main{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 953.96);
	height: calc((var(--init-new-vw) / 1440) * 80);
	top: calc((var(--init-new-vw) / 1440) * 105);
	font-size: calc((var(--init-new-vw) / 1440) * 72);
	font-variation-settings: "wght" var(--e3-text-main);
	text-align: center;
	line-height: 90%;
	left: 0;
	border: none;
	resize: none;
	overflow: hidden;
}

.perform-container{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 815);
	height: calc((var(--init-new-vw) / 1440) * 137);
	top: calc((var(--init-new-vw) / 1440) * 204);
	left: calc((var(--init-new-vw) / 1440) * 74);

}


.p-1{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 138);
	height: calc((var(--init-new-vw) / 1440) * 20);
	font-style: italic;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 100%;
}

.p-mid{
	left: calc((var(--init-new-vw) / 1440) * 187);
}
.p-end{
	left: calc((var(--init-new-vw) / 1440) * 706);
	width: calc((var(--init-new-vw) / 1440) * 98);
}

.e-border{
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;
}
.e-line-f{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 138);

}
.e-line-s{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 28);
	left: calc((var(--init-new-vw) / 1440) * 149);
	
}

.e-line-s-2{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 28);
	left: calc((var(--init-new-vw) / 1440) * 335);
	
}
.e-line-t{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 138);
	left: calc((var(--init-new-vw) / 1440) * 187);
}

.e-line-m{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 323);
	left: calc((var(--init-new-vw) / 1440) * 373);
}

.e-line-l{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 98);
	left: calc((var(--init-new-vw) / 1440) * 708);
}


.pf{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 137);
	height: calc((var(--init-new-vw) / 1440) * 26);
	line-height: 120%;
	font-size: calc((var(--init-new-vw) / 1440) * 19);
	left: 0;
	font-variation-settings: "wght" var(--e3-text-weight);
}

.and{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 28);
	height: calc((var(--init-new-vw) / 1440) * 26);
	line-height: 120%;
	font-size: calc((var(--init-new-vw) / 1440) * 19);
	text-align: center;
	left: calc((var(--init-new-vw) / 1440) * 149);
	font-variation-settings: "wght" var(--e3-text-weight);
}

.colon{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 28);
	height: calc((var(--init-new-vw) / 1440) * 26);
	line-height: 120%;
	font-size: calc((var(--init-new-vw) / 1440) * 19);
	text-align: center;
	left: calc((var(--init-new-vw) / 1440) * 335);
	font-variation-settings: "wght" var(--e3-text-weight);
}

.pf-2{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 138);
	height: calc((var(--init-new-vw) / 1440) * 26);
	line-height: 120%;
	font-size: calc((var(--init-new-vw) / 1440) * 19);
	left: calc((var(--init-new-vw) / 1440) * 187);
	font-variation-settings: "wght" var(--e3-text-weight);
}

.pl{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 323);
	height: calc((var(--init-new-vw) / 1440) * 26);
	line-height: 120%;
	font-size: calc((var(--init-new-vw) / 1440) * 19);
	left: calc((var(--init-new-vw) / 1440) * 373);
	font-variation-settings: "wght" var(--e3-text-weight);
	font-feature-settings: 'tnum' on, 'onum' on;
}

.tm{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 98);
	height: calc((var(--init-new-vw) / 1440) * 26);
	line-height: 120%;
	font-size: calc((var(--init-new-vw) / 1440) * 19);
	left: calc((var(--init-new-vw) / 1440) * 708);
	font-variation-settings: "wght" var(--e3-text-weight);
	font-feature-settings: 'tnum' on, 'lnum' on;
}

.about-container{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 813);
	height: calc((var(--init-new-vw) / 1440) * 88);
	top: calc((var(--init-new-vw) / 1440) * 373);
	left: calc((var(--init-new-vw) / 1440) * 74);

}

.e-ab{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 813);
	height: calc((var(--init-new-vw) / 1440) * 20);
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	top: 0;
	left: 0;
	font-variation-settings: "wght" var(--e3-text-weight);
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;
	font-size: calc((var(--init-new-vw) / 1440) * 18);
	font-style: italic;
	line-height: 50%;

}

.e-ab-tx{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 402);
	height: calc((var(--init-new-vw) / 1440) * 76);
	top: calc((var(--init-new-vw) / 1440) * 24);
	left: calc((var(--init-new-vw) / 1440) * -1);
	font-variation-settings: "wght" var(--e3-text-weight);
	font-size: calc((var(--init-new-vw) / 1440) * 14);
	line-height: 140%;
}
.e-ab-tx-l{
	left: calc((var(--init-new-vw) / 1440) * 411);
}


.e-line-top-1{
	top:calc((var(--init-new-vw) / 1440) * 23);
}
.e-line-top-2{
	top:calc((var(--init-new-vw) / 1440) * 50);
}
.e-line-top-3{
	top:calc((var(--init-new-vw) / 1440) * 77);
}
.e-line-top-4{
	top:calc((var(--init-new-vw) / 1440) * 104);
}
.e-line-top-5{
	top:calc((var(--init-new-vw) / 1440) * 131);
}

.th-info{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 401);
	height: calc((var(--init-new-vw) / 1440) * 101);
	top: calc((var(--init-new-vw) / 1440) * 492);
	left: calc((var(--init-new-vw) / 1440) * 486);
	font-variation-settings: "wght" var(--e3-text-weight);

	
}

.e-dc{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 183);
	height: calc((var(--init-new-vw) / 1440) * 25);
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	font-variation-settings: "wght" var(--e3-text-main);
	top: 0;
	left: 0;

}

.e-d-txt{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 183);
	height: calc((var(--init-new-vw) / 1440) * 55);
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	font-variation-settings: "wght" var(--e3-text-weight);
	top: calc((var(--init-new-vw) / 1440) * 40);
	left: 0;
	font-feature-settings: 'tnum' on, 'onum' on;
	line-height: 110%;
}
.e-dc-l{
	left: calc((var(--init-new-vw) / 1440) * 225);

}

.e-ds{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 362);
	height: calc((var(--init-new-vw) / 1440) * 96);
	bottom: 0;
	left:  calc((var(--init-new-vw) / 1440) * 75);
	background: #E666FF;

}

.e-pic{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 340);
	bottom: 0;
	left:  calc((var(--init-new-vw) / 1440) * 11);
}


/*right*/
.e-r-l-s-container{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 19);
	height: calc((var(--init-new-vw) / 1440) * 20);
	left: calc((var(--init-new-vw) / 1440) * 10);
	top: calc((var(--init-new-vw) / 1440) * 15);
	cursor: pointer;
}

.e-r-l-s{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 17);
	border-top: calc((var(--init-new-vw) / 1440) * 2) solid black;
	left:0;
}

.e-r-t{
	top: 0;
}
.e-r-m{
	top: calc((var(--init-new-vw) / 1440) * 5);
}
.e-r-b{
	top: calc((var(--init-new-vw) / 1440) * 10);
}
/*
.e-r-l-s-container.active{
	transform: rotate(90deg);
}
.e-r-t:hover{
	top: 0;
	left: 0;;
  	transform: rotate(45deg);
}
.e-r-m:hover{
	opacity: 0;
}
.e-r-b:hover{
	top: 0;
  	left: 0;
   	transform: rotate(-45deg);
}

.e-r-l-s-container:hover + .e-r-b {
    top:40px;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}*/

.e-r-out{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 258);
	height: calc((var(--init-new-vw) / 1440) * 35);
	top: calc((var(--init-new-vw) / 1440) * 125);
	left: calc((var(--init-new-vw) / 1440) * 11);
	font-size: calc((var(--init-new-vw) / 1440) * 24);
	border-top: calc((var(--init-new-vw) / 1440) * 1) solid black;
	border-bottom: calc((var(--init-new-vw) / 1440) * 1) solid black;
}
.e-r-list-t{
	top: calc((var(--init-new-vw) / 1440) * 354);
}

.e-r-txt{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 255);
	height: calc((var(--init-new-vw) / 1440) * 155);
	top: calc((var(--init-new-vw) / 1440) * 179);
	left: calc((var(--init-new-vw) / 1440) * 11);
	font-size: calc((var(--init-new-vw) / 1440) * 14);
	line-height: 140%;
}

.e-r-la{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 255);
	height: calc((var(--init-new-vw) / 1440) * 36);
	top: calc((var(--init-new-vw) / 1440) * 412);
	left: calc((var(--init-new-vw) / 1440) * 11);
	font-size: calc((var(--init-new-vw) / 1440) * 34);
	font-style: italic;
}

.e-r-al{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 255);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 454);
	left: calc((var(--init-new-vw) / 1440) * 11);
	font-size: calc((var(--init-new-vw) / 1440) * 20);
}
.e-r-al-m{
	top: calc((var(--init-new-vw) / 1440) * 479);
}
.e-r-al-b{
	top: calc((var(--init-new-vw) / 1440) * 504);
}

.e-r-av{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 255);
	height: calc((var(--init-new-vw) / 1440) * 45);
	top: calc((var(--init-new-vw) / 1440) * 38);
	left: calc((var(--init-new-vw) / 1440) * 11);
	font-size: calc((var(--init-new-vw) / 1440) * 40);
}

.e-r-pe{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 255);
	height: calc((var(--init-new-vw) / 1440) * 16);
	top: calc((var(--init-new-vw) / 1440) * 82);
	left: calc((var(--init-new-vw) / 1440) * 11);
	font-size: calc((var(--init-new-vw) / 1440) * 14);
}

.e-fill{
	position: absolute;
	left: 0;
	top: calc((var(--init-new-vw) / 1440) * 107);
	width: calc((var(--init-new-vw) / 1440) * 278.82);
}

@media screen and (max-width: 1000px){
.Example-2
{
	display: none;

}

}

