.Recognition-left-page-1
{
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	background-color: #D7B089;
	position: absolute;
	left: 0;
	top: 0;
}

.Recognition-right-page-1
{
	background-color: #D7B089;
	display: block;
	width: calc((var(--init-new-vw) / 1440) * 634);
	height: calc((var(--init-new-vw) / 1440) * 792); 
	position: absolute;
	right: 0;
	top: 0;
}

.Recognition-right-page-1 .gradient-line-r{
	background-image: linear-gradient(to right, #9F8265, #CFA984 , #D7B089);
}
.Recognition-left-page-1 .gradient-line-l{
	background-image: linear-gradient(to left, #9F8265, #CFA984 , #D7B089);
}


/*.Recognition-right-page-1:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: #D7B089;
	border-top-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}

.Recognition-right-page-1:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: #D7B089;
	border-bottom-left-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Recognition-left-page-1:before {
	content: '';
	position: absolute;
	top: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 98.1%;
	width: 100%;
	background: #D7B089;
	border-top-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, 0.5deg);
}

.Recognition-left-page-1:after {
	content: '';
	position: absolute;
	bottom: calc((var(--init-new-vw) / var(--init-width)) * 4);
	left: 0;
	height: 1.74%;
	width: 100%;
	background: #D7B089;
	border-bottom-right-radius: calc((var(--init-new-vw) / var(--init-width)) * 4);
	transform: skew(0deg, -0.5deg);
}*/
/* Left */
.Recognition-left-page-1 h1
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 497);
	height: calc((var(--init-new-vw) / 1440) * 25);
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * var(--header-top-size));
	line-height: 130%;
	text-transform: lowercase;
	margin: 0;
}

.Recognition-left-page-1 .jacques
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 339);
	top: calc((var(--init-new-vw) / 1440) * 479);
	left: calc((var(--init-new-vw) / 1440) * 72);
	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 18);
	line-height: calc((var(--init-new-vw) / 1440) * 20);
	text-align: justify;
}


/* Right */
.Recognition-right-page-1 h2
{
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 25);
	position: absolute;
	font-style: normal;
	font-weight: 300;
	font-size: calc((var(--init-new-vw) / 1440) * 16);
	line-height: 130%;
	margin: 0;
	top: calc((var(--init-new-vw) / 1440) * 26);
	left: calc((var(--init-new-vw) / 1440) * 72);
	text-align: right;
	text-transform: lowercase;
}

.Recognition-right-page-1 .sebastian
{
	position: absolute;
	width: calc((var(--init-new-vw) / 1440) * 526);
	height: calc((var(--init-new-vw) / 1440) * 339);
	top: calc((var(--init-new-vw) / 1440) * 479);
	right: calc((var(--init-new-vw) / 1440) * 72);

	font-style: normal;
	font-weight: normal;
	font-size: calc((var(--init-new-vw) / 1440) * 18);
	line-height: calc((var(--init-new-vw) / 1440) * 20);
	text-align: justify;
}

@media screen and (max-width: 1000px){
.Recognition-left-page-1
{
	display: none;

}
.Recognition-right-page-1
{
	display: none;

}

}